.chi-tit-thanh-ton-child17,
.chi-tit-thanh-ton-child18 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-child18 {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container14 {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.h-v-tn9,
.thng-tin-thanh9 {
  position: absolute;
  left: 31px;
}
.thng-tin-thanh9 {
  top: 280px;
  font-size: var(--font-size-5xl);
}
.h-v-tn9 {
  top: 339px;
}
.ghi-ch-n9,
.tnhthnh-ph9,
.xphng9 {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n9,
.xphng9 {
  top: 610px;
}
.ghi-ch-n9 {
  top: 742px;
}
.a-ch-email10,
.a-ch9,
.qunhuyn9 {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch9,
.qunhuyn9 {
  top: 475px;
}
.a-ch9 {
  top: 610px;
}
.chi-tit-thanh-ton-child19 {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-child20 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn9,
.short-newseven-chopper7 {
  position: absolute;
  top: 586px;
  left: 913px;
  font-size: var(--font-size-base);
  color: var(--color-darkseagreen-100);
}
.short-newseven-chopper7 {
  top: 388px;
  color: var(--color-dimgray-100);
}
.div312,
.div313,
.div314,
.div315,
.tm-tnh26 {
  position: absolute;
  top: 429px;
  left: 913px;
  font-size: var(--font-size-base);
}
.div312,
.div313,
.div314,
.div315 {
  top: 384px;
  left: 1320px;
  font-weight: 800;
  color: var(--color-red-600);
}
.div313,
.div314,
.div315 {
  top: 424px;
}
.div314,
.div315 {
  top: 471px;
  left: 1325px;
}
.div315 {
  top: 511px;
  left: 1320px;
}
.giao-hng13 {
  top: 470px;
  left: 913px;
}
.giao-hng13,
.ph-ship9,
.tng13,
.tr-tin-mt9 {
  position: absolute;
  font-size: var(--font-size-base);
}
.ph-ship9 {
  top: 470px;
  left: 1245px;
  color: var(--color-dimgray-100);
}
.tng13,
.tr-tin-mt9 {
  top: 511px;
  left: 913px;
}
.tr-tin-mt9 {
  top: 552px;
}
.n-hng-ca9,
.sn-phm14,
.tm-tnh27 {
  position: absolute;
  top: 296px;
  left: 913px;
  font-size: var(--font-size-5xl);
}
.sn-phm14,
.tm-tnh27 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh27 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-child21,
.chi-tit-thanh-ton-child22,
.chi-tit-thanh-ton-child23,
.chi-tit-thanh-ton-child24 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-child22,
.chi-tit-thanh-ton-child23,
.chi-tit-thanh-ton-child24 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-child23,
.chi-tit-thanh-ton-child24 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-child24 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-child25 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-child26 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child27,
.chi-tit-thanh-ton-child28 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child28 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-child29,
.chi-tit-thanh-ton-child30 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child30 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span179 {
  color: var(--color-red-300);
}
.h-tr-container31 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line76,
.gii-thiu31,
.n7-hng-n31 {
  margin: 0;
}
.gii-thiu-n7-container31 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin31 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh15 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-131,
.newsevenvngmailcom31 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-131 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-231,
.div316 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div316 {
  top: 1339px;
}
.chi-tit-thanh-ton-child31,
.chi-tit-thanh-ton-child32,
.chi-tit-thanh-ton-child33,
.chi-tit-thanh-ton-child34 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child32,
.chi-tit-thanh-ton-child33,
.chi-tit-thanh-ton-child34 {
  left: 902px;
}
.chi-tit-thanh-ton-child33,
.chi-tit-thanh-ton-child34 {
  left: 845px;
}
.chi-tit-thanh-ton-child34 {
  left: 959px;
}
.group-child674 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng18 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child675,
.rectangle-parent315 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child675 {
  background-color: var(--color-gray-1700);
}
.t-hng19 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent316 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-inner15,
.group-parent162 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-inner15 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child676,
.group-child677 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child677 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner16,
.rectangle-parent317 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner16 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child678,
.group-child679 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child679 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner17,
.rectangle-parent318 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner17 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child680,
.group-child681 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child681 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner18,
.rectangle-parent319 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner18 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child682,
.group-child683 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child683 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner19,
.rectangle-parent320 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner19 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child684,
.group-child685 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child685 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner20,
.rectangle-parent321 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner20 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child686,
.group-child687 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child687 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner21,
.rectangle-parent322 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner21 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child688,
.group-child689 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child689 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-inner22,
.rectangle-parent323 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-inner22 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home73,
.home74 {
  position: absolute;
  top: 0;
  left: 0;
}
.home74 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-inner23,
.home-parent31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-inner23 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child690,
.shop71 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child690 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent62,
.shop72 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent62 {
  width: 78px;
  height: 29px;
}
.shop72 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child691,
.shop-parent63 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent63 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner24,
.group-parent163 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-inner24 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact71,
.contact72 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact72 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner25,
.contact-parent30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-inner25 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group74,
.group75 {
  position: absolute;
  top: 0;
  left: 0;
}
.group75 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner26,
.group-parent164 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-inner26 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child692 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn31 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child693 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent324 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child694 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child694,
.group-wrapper55,
.rectangle-wrapper31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper55 {
  left: 367px;
}
.chi-tit-thanh-ton-inner27,
.group-parent165 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-inner27 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-child35 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon66,
.male-user-icon67 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon67 {
  left: 55px;
}
.male-user-parent31,
.ng-nhp22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp22 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven34 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new69,
.p109 {
  margin: 0;
}
.p109 {
  font-size: var(--font-size-5xl);
}
.new68 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child695 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r34 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-inner28,
.seven-parent27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-inner28 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
