.chi-tit-thanh-ton-child55,
.chi-tit-thanh-ton-child56 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-child56 {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container16,
.thng-tin-thanh11 {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.thng-tin-thanh11 {
  top: 280px;
  left: 31px;
}
.h-v-tn11 {
  position: absolute;
  top: 339px;
  left: 31px;
}
.ghi-ch-n11,
.tnhthnh-ph11,
.xphng11 {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n11,
.xphng11 {
  top: 610px;
}
.ghi-ch-n11 {
  top: 742px;
}
.a-ch-email12,
.a-ch11,
.qunhuyn11 {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch11,
.qunhuyn11 {
  top: 475px;
}
.a-ch11 {
  top: 610px;
}
.chi-tit-thanh-ton-child57 {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-child58 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn11,
.qun-short-insert11 {
  position: absolute;
  top: 586px;
  left: 913px;
  font-size: var(--font-size-base);
  color: var(--color-darkseagreen-100);
}
.qun-short-insert11 {
  top: 388px;
  color: var(--color-dimgray-100);
}
.div322,
.div323,
.div324,
.div325,
.tm-tnh30 {
  position: absolute;
  top: 429px;
  left: 913px;
  font-size: var(--font-size-base);
}
.div322,
.div323,
.div324,
.div325 {
  top: 384px;
  left: 1320px;
  font-weight: 800;
  color: var(--color-red-600);
}
.div323,
.div324,
.div325 {
  top: 424px;
}
.div324,
.div325 {
  top: 471px;
  left: 1325px;
}
.div325 {
  top: 511px;
  left: 1320px;
}
.giao-hng15 {
  top: 470px;
  left: 913px;
}
.giao-hng15,
.ph-ship11,
.tng15,
.tr-tin-mt11 {
  position: absolute;
  font-size: var(--font-size-base);
}
.ph-ship11 {
  top: 470px;
  left: 1245px;
  color: var(--color-dimgray-100);
}
.tng15,
.tr-tin-mt11 {
  top: 511px;
  left: 913px;
}
.tr-tin-mt11 {
  top: 552px;
}
.n-hng-ca11,
.sn-phm16,
.tm-tnh31 {
  position: absolute;
  top: 296px;
  left: 913px;
  font-size: var(--font-size-5xl);
}
.sn-phm16,
.tm-tnh31 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh31 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-child59,
.chi-tit-thanh-ton-child60,
.chi-tit-thanh-ton-child61,
.chi-tit-thanh-ton-child62 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-child60,
.chi-tit-thanh-ton-child61,
.chi-tit-thanh-ton-child62 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-child61,
.chi-tit-thanh-ton-child62 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-child62 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-child63 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-child64 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child65,
.chi-tit-thanh-ton-child66 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child66 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-child67,
.chi-tit-thanh-ton-child68 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child68 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span181 {
  color: var(--color-red-300);
}
.h-tr-container33 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line78,
.gii-thiu33,
.n7-hng-n33 {
  margin: 0;
}
.gii-thiu-n7-container33 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin33 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh17 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-133,
.newsevenvngmailcom33 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-133 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-233,
.div326 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div326 {
  top: 1339px;
}
.chi-tit-thanh-ton-child69,
.chi-tit-thanh-ton-child70,
.chi-tit-thanh-ton-child71,
.chi-tit-thanh-ton-child72 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child70,
.chi-tit-thanh-ton-child71,
.chi-tit-thanh-ton-child72 {
  left: 902px;
}
.chi-tit-thanh-ton-child71,
.chi-tit-thanh-ton-child72 {
  left: 845px;
}
.chi-tit-thanh-ton-child72 {
  left: 959px;
}
.group-child718 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng22 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child719,
.rectangle-parent335 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child719 {
  background-color: var(--color-gray-1700);
}
.t-hng23 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent336 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-inner43,
.group-parent170 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-inner43 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child720,
.group-child721 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child721 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner44,
.rectangle-parent337 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner44 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child722,
.group-child723 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child723 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner45,
.rectangle-parent338 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner45 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child724,
.group-child725 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child725 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner46,
.rectangle-parent339 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner46 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child726,
.group-child727 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child727 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner47,
.rectangle-parent340 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner47 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child728,
.group-child729 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child729 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner48,
.rectangle-parent341 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner48 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child730,
.group-child731 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child731 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner49,
.rectangle-parent342 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner49 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child732,
.group-child733 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child733 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-inner50,
.rectangle-parent343 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-inner50 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home77,
.home78 {
  position: absolute;
  top: 0;
  left: 0;
}
.home78 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-inner51,
.home-parent33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-inner51 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child734,
.shop75 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child734 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent66,
.shop76 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent66 {
  width: 78px;
  height: 29px;
}
.shop76 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child735,
.shop-parent67 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent67 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner52,
.group-parent171 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-inner52 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact75,
.contact76 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact76 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner53,
.contact-parent32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-inner53 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group78,
.group79 {
  position: absolute;
  top: 0;
  left: 0;
}
.group79 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner54,
.group-parent172 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-inner54 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child736 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn33 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child737 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent344 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child738 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child738,
.group-wrapper57,
.rectangle-wrapper33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper57 {
  left: 367px;
}
.chi-tit-thanh-ton-inner55,
.group-parent173 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-inner55 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-child73 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon70,
.male-user-icon71 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon71 {
  left: 55px;
}
.male-user-parent33,
.ng-nhp24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp24 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven36 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new73,
.p111 {
  margin: 0;
}
.p111 {
  font-size: var(--font-size-5xl);
}
.new72 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child739 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r36 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-inner56,
.seven-parent29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-inner56 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
