.chi-tit-thanh-ton-3-child,
.chi-tit-thanh-ton-3-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-3-item {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container7 {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.h-v-tn2,
.thng-tin-thanh2 {
  position: absolute;
  left: 31px;
}
.thng-tin-thanh2 {
  top: 280px;
  font-size: var(--font-size-5xl);
}
.h-v-tn2 {
  top: 339px;
}
.ghi-ch-n2,
.tnhthnh-ph2,
.xphng2 {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n2,
.xphng2 {
  top: 610px;
}
.ghi-ch-n2 {
  top: 742px;
}
.a-ch-email3,
.a-ch2,
.qunhuyn2 {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch2,
.qunhuyn2 {
  top: 475px;
}
.a-ch2 {
  top: 610px;
}
.chi-tit-thanh-ton-3-inner {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-3-child1 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn2,
.polo-striped-pl1379 {
  position: absolute;
  top: 586px;
  left: 913px;
  font-size: var(--font-size-base);
  color: var(--color-darkseagreen-100);
}
.polo-striped-pl1379 {
  top: 388px;
  font-weight: 600;
  color: var(--color-dimgray-100);
}
.div276,
.div277,
.div278,
.div279,
.tm-tnh12 {
  position: absolute;
  top: 429px;
  left: 913px;
  font-size: var(--font-size-base);
}
.div276,
.div277,
.div278,
.div279 {
  top: 384px;
  left: 1320px;
  font-weight: 800;
  color: var(--color-red-600);
}
.div277,
.div278,
.div279 {
  top: 424px;
}
.div278,
.div279 {
  top: 471px;
  left: 1325px;
}
.div279 {
  top: 511px;
  left: 1317px;
}
.giao-hng6 {
  top: 470px;
  left: 913px;
}
.giao-hng6,
.ph-ship2,
.tng6,
.tr-tin-mt2 {
  position: absolute;
  font-size: var(--font-size-base);
}
.ph-ship2 {
  top: 470px;
  left: 1245px;
  color: var(--color-dimgray-100);
}
.tng6,
.tr-tin-mt2 {
  top: 511px;
  left: 913px;
}
.tr-tin-mt2 {
  top: 552px;
}
.n-hng-ca2,
.sn-phm7,
.tm-tnh13 {
  position: absolute;
  top: 296px;
  left: 913px;
  font-size: var(--font-size-5xl);
}
.sn-phm7,
.tm-tnh13 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh13 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-3-child2,
.chi-tit-thanh-ton-3-child3,
.chi-tit-thanh-ton-3-child4,
.chi-tit-thanh-ton-3-child5 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-3-child3,
.chi-tit-thanh-ton-3-child4,
.chi-tit-thanh-ton-3-child5 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-3-child4,
.chi-tit-thanh-ton-3-child5 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-3-child5 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-3-child6 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-3-child7 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-3-child8,
.chi-tit-thanh-ton-3-child9 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-3-child9 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-3-child10,
.chi-tit-thanh-ton-3-child11 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-3-child11 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span172 {
  color: var(--color-red-300);
}
.h-tr-container24 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line69,
.gii-thiu24,
.n7-hng-n24 {
  margin: 0;
}
.gii-thiu-n7-container24 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin24 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh8 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-124,
.newsevenvngmailcom24 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-124 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-224,
.div280 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div280 {
  top: 1339px;
}
.chi-tit-thanh-ton-3-child12,
.chi-tit-thanh-ton-3-child13,
.chi-tit-thanh-ton-3-child14,
.chi-tit-thanh-ton-3-child15 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-3-child13,
.chi-tit-thanh-ton-3-child14,
.chi-tit-thanh-ton-3-child15 {
  left: 902px;
}
.chi-tit-thanh-ton-3-child14,
.chi-tit-thanh-ton-3-child15 {
  left: 845px;
}
.chi-tit-thanh-ton-3-child15 {
  left: 959px;
}
.group-child520 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng4 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child521,
.rectangle-parent245 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child521 {
  background-color: var(--color-gray-1700);
}
.t-hng5 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent246 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-3-inner1,
.group-parent134 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-3-inner1 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child522,
.group-child523 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child523 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner2,
.rectangle-parent247 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner2 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child524,
.group-child525 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child525 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner3,
.rectangle-parent248 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner3 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child526,
.group-child527 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child527 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner4,
.rectangle-parent249 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner4 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child528,
.group-child529 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child529 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner5,
.rectangle-parent250 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner5 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child530,
.group-child531 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child531 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner6,
.rectangle-parent251 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner6 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child532,
.group-child533 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child533 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-3-inner7,
.rectangle-parent252 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-3-inner7 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child534,
.group-child535 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child535 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-3-inner8,
.rectangle-parent253 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-3-inner8 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home59,
.home60 {
  position: absolute;
  top: 0;
  left: 0;
}
.home60 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-3-inner9,
.home-parent24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-3-inner9 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child536,
.shop57 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child536 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent48,
.shop58 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent48 {
  width: 78px;
  height: 29px;
}
.shop58 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child537,
.shop-parent49 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent49 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-3-inner10,
.group-parent135 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-3-inner10 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact57,
.contact58 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact58 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-3-inner11,
.contact-parent23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-3-inner11 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group60,
.group61 {
  position: absolute;
  top: 0;
  left: 0;
}
.group61 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-3-inner12,
.group-parent136 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-3-inner12 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child538 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn24 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child539 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent254 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child540 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child540,
.group-wrapper48,
.rectangle-wrapper24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper48 {
  left: 367px;
}
.chi-tit-thanh-ton-3-inner13,
.group-parent137 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-3-inner13 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-3-child16 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon52,
.male-user-icon53 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon53 {
  left: 55px;
}
.male-user-parent24,
.ng-nhp15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp15 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven27 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new55,
.p102 {
  margin: 0;
}
.p102 {
  font-size: var(--font-size-5xl);
}
.new54 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child541 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r27 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-3-inner14,
.seven-parent20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-3-inner14 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
