.chi-tit-thanh-ton-child36,
.chi-tit-thanh-ton-child37 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-child37 {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container15,
.thng-tin-thanh10 {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.thng-tin-thanh10 {
  top: 280px;
  left: 31px;
}
.h-v-tn10 {
  position: absolute;
  top: 339px;
  left: 31px;
}
.ghi-ch-n10,
.tnhthnh-ph10,
.xphng10 {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n10,
.xphng10 {
  top: 610px;
}
.ghi-ch-n10 {
  top: 742px;
}
.a-ch-email11,
.a-ch10,
.qunhuyn10 {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch10,
.qunhuyn10 {
  top: 475px;
}
.a-ch10 {
  top: 610px;
}
.chi-tit-thanh-ton-child38 {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-child39 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn10,
.qun-short-basic7 {
  position: absolute;
  top: 586px;
  left: 913px;
  font-size: var(--font-size-base);
  color: var(--color-darkseagreen-100);
}
.qun-short-basic7 {
  top: 388px;
  color: var(--color-dimgray-100);
}
.div317,
.div318,
.div319,
.div320,
.tm-tnh28 {
  position: absolute;
  top: 429px;
  left: 913px;
  font-size: var(--font-size-base);
}
.div317,
.div318,
.div319,
.div320 {
  top: 384px;
  left: 1320px;
  font-weight: 800;
  color: var(--color-red-600);
}
.div318,
.div319,
.div320 {
  top: 424px;
}
.div319,
.div320 {
  top: 471px;
  left: 1325px;
}
.div320 {
  top: 511px;
  left: 1320px;
}
.giao-hng14 {
  top: 470px;
  left: 913px;
}
.giao-hng14,
.ph-ship10,
.tng14,
.tr-tin-mt10 {
  position: absolute;
  font-size: var(--font-size-base);
}
.ph-ship10 {
  top: 470px;
  left: 1245px;
  color: var(--color-dimgray-100);
}
.tng14,
.tr-tin-mt10 {
  top: 511px;
  left: 913px;
}
.tr-tin-mt10 {
  top: 552px;
}
.n-hng-ca10,
.sn-phm15,
.tm-tnh29 {
  position: absolute;
  top: 296px;
  left: 913px;
  font-size: var(--font-size-5xl);
}
.sn-phm15,
.tm-tnh29 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh29 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-child40,
.chi-tit-thanh-ton-child41,
.chi-tit-thanh-ton-child42,
.chi-tit-thanh-ton-child43 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-child41,
.chi-tit-thanh-ton-child42,
.chi-tit-thanh-ton-child43 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-child42,
.chi-tit-thanh-ton-child43 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-child43 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-child44 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-child45 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child46,
.chi-tit-thanh-ton-child47 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child47 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-child48,
.chi-tit-thanh-ton-child49 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child49 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span180 {
  color: var(--color-red-300);
}
.h-tr-container32 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line77,
.gii-thiu32,
.n7-hng-n32 {
  margin: 0;
}
.gii-thiu-n7-container32 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin32 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh16 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-132,
.newsevenvngmailcom32 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-132 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-232,
.div321 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div321 {
  top: 1339px;
}
.chi-tit-thanh-ton-child50,
.chi-tit-thanh-ton-child51,
.chi-tit-thanh-ton-child52,
.chi-tit-thanh-ton-child53 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-child51,
.chi-tit-thanh-ton-child52,
.chi-tit-thanh-ton-child53 {
  left: 902px;
}
.chi-tit-thanh-ton-child52,
.chi-tit-thanh-ton-child53 {
  left: 845px;
}
.chi-tit-thanh-ton-child53 {
  left: 959px;
}
.group-child696 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng20 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child697,
.rectangle-parent325 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child697 {
  background-color: var(--color-gray-1700);
}
.t-hng21 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent326 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-inner29,
.group-parent166 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-inner29 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child698,
.group-child699 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child699 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner30,
.rectangle-parent327 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner30 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child700,
.group-child701 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child701 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner31,
.rectangle-parent328 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner31 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child702,
.group-child703 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child703 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner32,
.rectangle-parent329 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner32 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child704,
.group-child705 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child705 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner33,
.rectangle-parent330 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner33 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child706,
.group-child707 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child707 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner34,
.rectangle-parent331 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner34 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child708,
.group-child709 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child709 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-inner35,
.rectangle-parent332 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-inner35 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child710,
.group-child711 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child711 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-inner36,
.rectangle-parent333 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-inner36 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home75,
.home76 {
  position: absolute;
  top: 0;
  left: 0;
}
.home76 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-inner37,
.home-parent32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-inner37 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child712,
.shop73 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child712 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent64,
.shop74 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent64 {
  width: 78px;
  height: 29px;
}
.shop74 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child713,
.shop-parent65 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent65 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner38,
.group-parent167 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-inner38 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact73,
.contact74 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact74 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner39,
.contact-parent31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-inner39 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group76,
.group77 {
  position: absolute;
  top: 0;
  left: 0;
}
.group77 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-inner40,
.group-parent168 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-inner40 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child714 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn32 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child715 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent334 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child716 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child716,
.group-wrapper56,
.rectangle-wrapper32 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper56 {
  left: 367px;
}
.chi-tit-thanh-ton-inner41,
.group-parent169 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-inner41 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-child54 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon68,
.male-user-icon69 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon69 {
  left: 55px;
}
.male-user-parent32,
.ng-nhp23 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp23 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven35 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new71,
.p110 {
  margin: 0;
}
.p110 {
  font-size: var(--font-size-5xl);
}
.new70 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child717 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r35 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-inner42,
.seven-parent28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-inner42 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
