.chi-tit-thanh-ton-6-child,
.chi-tit-thanh-ton-6-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-6-item {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container11 {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.h-v-tn6,
.thng-tin-thanh6 {
  position: absolute;
  left: 31px;
}
.thng-tin-thanh6 {
  top: 280px;
  font-size: var(--font-size-5xl);
}
.h-v-tn6 {
  top: 339px;
}
.ghi-ch-n6,
.tnhthnh-ph6,
.xphng6 {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n6,
.xphng6 {
  top: 610px;
}
.ghi-ch-n6 {
  top: 742px;
}
.a-ch-email7,
.a-ch6,
.qunhuyn6 {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch6,
.qunhuyn6 {
  top: 475px;
}
.a-ch6 {
  top: 610px;
}
.chi-tit-thanh-ton-6-inner {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-6-child1 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn6 {
  top: 586px;
  color: var(--color-darkseagreen-100);
}
.cm-n-bn6,
.div297,
.div298,
.div299,
.div300,
.o-thun-trn10,
.tm-tnh20 {
  position: absolute;
  left: 913px;
  font-size: var(--font-size-base);
}
.o-thun-trn10 {
  top: 388px;
  color: var(--color-dimgray-100);
}
.div297,
.div298,
.div299,
.div300,
.tm-tnh20 {
  top: 429px;
}
.div297,
.div298,
.div299,
.div300 {
  top: 384px;
  left: 1320px;
  font-weight: 800;
  color: var(--color-red-600);
}
.div298,
.div299,
.div300 {
  top: 424px;
}
.div299,
.div300 {
  top: 471px;
  left: 1325px;
}
.div300 {
  top: 511px;
  left: 1320px;
}
.giao-hng10 {
  top: 470px;
  left: 913px;
}
.giao-hng10,
.ph-ship6,
.tng10,
.tr-tin-mt6 {
  position: absolute;
  font-size: var(--font-size-base);
}
.ph-ship6 {
  top: 470px;
  left: 1245px;
  color: var(--color-dimgray-100);
}
.tng10,
.tr-tin-mt6 {
  top: 511px;
  left: 913px;
}
.tr-tin-mt6 {
  top: 552px;
}
.n-hng-ca6,
.sn-phm11,
.tm-tnh21 {
  position: absolute;
  top: 296px;
  left: 913px;
  font-size: var(--font-size-5xl);
}
.sn-phm11,
.tm-tnh21 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh21 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-6-child2,
.chi-tit-thanh-ton-6-child3,
.chi-tit-thanh-ton-6-child4,
.chi-tit-thanh-ton-6-child5 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-6-child3,
.chi-tit-thanh-ton-6-child4,
.chi-tit-thanh-ton-6-child5 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-6-child4,
.chi-tit-thanh-ton-6-child5 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-6-child5 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-6-child6 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-6-child7 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-6-child8,
.chi-tit-thanh-ton-6-child9 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-6-child9 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-6-child10,
.chi-tit-thanh-ton-6-child11 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-6-child11 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span176 {
  color: var(--color-red-300);
}
.h-tr-container28 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line73,
.gii-thiu28,
.n7-hng-n28 {
  margin: 0;
}
.gii-thiu-n7-container28 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin28 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh12 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-128,
.newsevenvngmailcom28 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-128 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-228,
.div301 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div301 {
  top: 1339px;
}
.chi-tit-thanh-ton-6-child12,
.chi-tit-thanh-ton-6-child13,
.chi-tit-thanh-ton-6-child14,
.chi-tit-thanh-ton-6-child15 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-6-child13,
.chi-tit-thanh-ton-6-child14,
.chi-tit-thanh-ton-6-child15 {
  left: 902px;
}
.chi-tit-thanh-ton-6-child14,
.chi-tit-thanh-ton-6-child15 {
  left: 845px;
}
.chi-tit-thanh-ton-6-child15 {
  left: 959px;
}
.group-child608 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng12 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child609,
.rectangle-parent285 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child609 {
  background-color: var(--color-gray-1700);
}
.t-hng13 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent286 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-6-inner1,
.group-parent150 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-6-inner1 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child610,
.group-child611 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child611 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-6-inner2,
.rectangle-parent287 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-6-inner2 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child612,
.group-child613 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child613 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-6-inner3,
.rectangle-parent288 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-6-inner3 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child614,
.group-child615 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child615 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-6-inner4,
.rectangle-parent289 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-6-inner4 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child616,
.group-child617 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child617 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-6-inner5,
.rectangle-parent290 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-6-inner5 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child618,
.group-child619 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child619 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-6-inner6,
.rectangle-parent291 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-6-inner6 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child620,
.group-child621 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child621 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-6-inner7,
.rectangle-parent292 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-6-inner7 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child622,
.group-child623 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child623 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-6-inner8,
.rectangle-parent293 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-6-inner8 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home67,
.home68 {
  position: absolute;
  top: 0;
  left: 0;
}
.home68 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-6-inner9,
.home-parent28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-6-inner9 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child624,
.shop65 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child624 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent56,
.shop66 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent56 {
  width: 78px;
  height: 29px;
}
.shop66 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child625,
.shop-parent57 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent57 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-6-inner10,
.group-parent151 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-6-inner10 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact65,
.contact66 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact66 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-6-inner11,
.contact-parent27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-6-inner11 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group68,
.group69 {
  position: absolute;
  top: 0;
  left: 0;
}
.group69 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-6-inner12,
.group-parent152 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-6-inner12 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child626 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn28 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child627 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent294 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child628 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child628,
.group-wrapper52,
.rectangle-wrapper28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper52 {
  left: 367px;
}
.chi-tit-thanh-ton-6-inner13,
.group-parent153 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-6-inner13 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-6-child16 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon60,
.male-user-icon61 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon61 {
  left: 55px;
}
.male-user-parent28,
.ng-nhp19 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp19 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven31 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new63,
.p106 {
  margin: 0;
}
.p106 {
  font-size: var(--font-size-5xl);
}
.new62 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child629 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r31 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-6-inner14,
.seven-parent24 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-6-inner14 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton-6 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
