.chi-tit-thanh-ton-8-child,
.chi-tit-thanh-ton-8-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 1557px;
}
.chi-tit-thanh-ton-8-item {
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container12 {
  position: absolute;
  top: 183px;
  left: 569px;
  font-size: var(--font-size-5xl);
}
.h-v-tn7,
.thng-tin-thanh7 {
  position: absolute;
  left: 31px;
}
.thng-tin-thanh7 {
  top: 280px;
  font-size: var(--font-size-5xl);
}
.h-v-tn7 {
  top: 339px;
}
.ghi-ch-n7,
.tnhthnh-ph7,
.xphng7 {
  position: absolute;
  top: 475px;
  left: 31px;
}
.ghi-ch-n7,
.xphng7 {
  top: 610px;
}
.ghi-ch-n7 {
  top: 742px;
}
.a-ch-email8,
.a-ch7,
.qunhuyn7 {
  position: absolute;
  top: 339px;
  left: 469px;
}
.a-ch7,
.qunhuyn7 {
  top: 475px;
}
.a-ch7 {
  top: 610px;
}
.chi-tit-thanh-ton-8-inner {
  position: absolute;
  top: 233.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1441px;
  height: 1px;
}
.chi-tit-thanh-ton-8-child1 {
  position: absolute;
  top: 284px;
  left: 894px;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  box-sizing: border-box;
  width: 534px;
  height: 413px;
}
.cm-n-bn7,
.o-thun-newseven24 {
  position: absolute;
  top: 586px;
  left: 913px;
  font-size: var(--font-size-base);
  color: var(--color-darkseagreen-100);
}
.o-thun-newseven24 {
  top: 388px;
  color: var(--color-dimgray-100);
}
.div302,
.div303,
.div304,
.div305,
.tm-tnh22 {
  position: absolute;
  top: 429px;
  left: 913px;
  font-size: var(--font-size-base);
}
.div302,
.div303,
.div304,
.div305 {
  top: 384px;
  left: 1320px;
  font-weight: 800;
  color: var(--color-red-600);
}
.div303,
.div304,
.div305 {
  top: 424px;
}
.div304,
.div305 {
  top: 471px;
  left: 1325px;
}
.div305 {
  top: 511px;
  left: 1320px;
}
.giao-hng11 {
  top: 470px;
  left: 913px;
}
.giao-hng11,
.ph-ship7,
.tng11,
.tr-tin-mt7 {
  position: absolute;
  font-size: var(--font-size-base);
}
.ph-ship7 {
  top: 470px;
  left: 1245px;
  color: var(--color-dimgray-100);
}
.tng11,
.tr-tin-mt7 {
  top: 511px;
  left: 913px;
}
.tr-tin-mt7 {
  top: 552px;
}
.n-hng-ca7,
.sn-phm12,
.tm-tnh23 {
  position: absolute;
  top: 296px;
  left: 913px;
  font-size: var(--font-size-5xl);
}
.sn-phm12,
.tm-tnh23 {
  top: 347px;
  font-size: var(--font-size-base);
}
.tm-tnh23 {
  top: 343px;
  left: 1315px;
}
.chi-tit-thanh-ton-8-child2,
.chi-tit-thanh-ton-8-child3,
.chi-tit-thanh-ton-8-child4,
.chi-tit-thanh-ton-8-child5 {
  position: absolute;
  top: 372.5px;
  left: 912.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 482px;
  height: 1px;
}
.chi-tit-thanh-ton-8-child3,
.chi-tit-thanh-ton-8-child4,
.chi-tit-thanh-ton-8-child5 {
  top: 460.5px;
  width: 347px;
}
.chi-tit-thanh-ton-8-child4,
.chi-tit-thanh-ton-8-child5 {
  top: 498.5px;
  width: 482px;
}
.chi-tit-thanh-ton-8-child5 {
  top: 541.5px;
  opacity: 0.3;
}
.chi-tit-thanh-ton-8-child6 {
  position: absolute;
  top: 1001px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.chi-tit-thanh-ton-8-child7 {
  position: absolute;
  top: 1031px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.chi-tit-thanh-ton-8-child8,
.chi-tit-thanh-ton-8-child9 {
  position: absolute;
  top: 1289px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.chi-tit-thanh-ton-8-child9 {
  top: 1316px;
  left: 764px;
}
.chi-tit-thanh-ton-8-child10,
.chi-tit-thanh-ton-8-child11 {
  position: absolute;
  top: 1343px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.chi-tit-thanh-ton-8-child11 {
  top: 1363px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span177 {
  color: var(--color-red-300);
}
.h-tr-container29 {
  position: absolute;
  top: 1045px;
  left: 111px;
}
.blank-line74,
.gii-thiu29,
.n7-hng-n29 {
  margin: 0;
}
.gii-thiu-n7-container29 {
  position: absolute;
  top: 1199px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.thng-tin-lin29 {
  position: absolute;
  top: 1196px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh13 {
  position: absolute;
  top: 1242px;
  left: 788px;
}
.c-s-129,
.newsevenvngmailcom29 {
  position: absolute;
  top: 1361px;
  left: 788px;
}
.c-s-129 {
  top: 1288px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-229,
.div306 {
  position: absolute;
  top: 1315px;
  left: 788px;
}
.div306 {
  top: 1339px;
}
.chi-tit-thanh-ton-8-child12,
.chi-tit-thanh-ton-8-child13,
.chi-tit-thanh-ton-8-child14,
.chi-tit-thanh-ton-8-child15 {
  position: absolute;
  top: 1391px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.chi-tit-thanh-ton-8-child13,
.chi-tit-thanh-ton-8-child14,
.chi-tit-thanh-ton-8-child15 {
  left: 902px;
}
.chi-tit-thanh-ton-8-child14,
.chi-tit-thanh-ton-8-child15 {
  left: 845px;
}
.chi-tit-thanh-ton-8-child15 {
  left: 959px;
}
.group-child630 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-1000);
  width: 123px;
  height: 45px;
}
.t-hng14 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.group-child631,
.rectangle-parent295 {
  position: absolute;
  top: 0;
  left: 0;
  width: 123px;
  height: 45px;
}
.group-child631 {
  background-color: var(--color-gray-1700);
}
.t-hng15 {
  position: absolute;
  top: 13px;
  left: 19px;
}
.rectangle-parent296 {
  position: absolute;
  top: 0;
  left: 173px;
  width: 123px;
  height: 45px;
}
.chi-tit-thanh-ton-8-inner1,
.group-parent154 {
  position: absolute;
  top: 0;
  left: 0;
  width: 296px;
  height: 45px;
}
.chi-tit-thanh-ton-8-inner1 {
  top: 619px;
  left: 913px;
  width: 123px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.group-child632,
.group-child633 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child633 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-8-inner2,
.rectangle-parent297 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-8-inner2 {
  top: 382px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child634,
.group-child635 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child635 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-8-inner3,
.rectangle-parent298 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-8-inner3 {
  top: 518px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child636,
.group-child637 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child637 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-8-inner4,
.rectangle-parent299 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-8-inner4 {
  top: 653px;
  left: 31px;
  height: 50px;
  overflow: hidden;
}
.group-child638,
.group-child639 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child639 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-8-inner5,
.rectangle-parent300 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-8-inner5 {
  top: 382px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child640,
.group-child641 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child641 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-8-inner6,
.rectangle-parent301 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-8-inner6 {
  top: 518px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child642,
.group-child643 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xs);
  background-color: var(--color-white);
  width: 398px;
  height: 50px;
}
.group-child643 {
  top: 74px;
  background-color: var(--color-gray-1800);
}
.chi-tit-thanh-ton-8-inner7,
.rectangle-parent302 {
  position: absolute;
  top: 0;
  left: 0;
  width: 398px;
  height: 124px;
}
.chi-tit-thanh-ton-8-inner7 {
  top: 653px;
  left: 469px;
  height: 50px;
  overflow: hidden;
}
.group-child644,
.group-child645 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 833px;
  height: 146px;
}
.group-child645 {
  top: 228px;
  background-color: var(--color-gray-1900);
}
.chi-tit-thanh-ton-8-inner8,
.rectangle-parent303 {
  position: absolute;
  top: 0;
  left: 0;
  width: 833px;
  height: 374px;
}
.chi-tit-thanh-ton-8-inner8 {
  top: 779px;
  left: 34px;
  height: 146px;
  overflow: hidden;
}
.home69,
.home70 {
  position: absolute;
  top: 0;
  left: 0;
}
.home70 {
  left: 105px;
  color: var(--color-gray-300);
}
.chi-tit-thanh-ton-8-inner9,
.home-parent29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-8-inner9 {
  top: 45px;
  left: 270px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child646,
.shop67 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child646 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent58,
.shop68 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent58 {
  width: 78px;
  height: 29px;
}
.shop68 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child647,
.shop-parent59 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent59 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-8-inner10,
.group-parent155 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.chi-tit-thanh-ton-8-inner10 {
  top: 44px;
  left: 394px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact67,
.contact68 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact68 {
  left: 146px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-8-inner11,
.contact-parent28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.chi-tit-thanh-ton-8-inner11 {
  top: 45px;
  left: 511px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group70,
.group71 {
  position: absolute;
  top: 0;
  left: 0;
}
.group71 {
  left: 94px;
  color: var(--color-gray-400);
}
.chi-tit-thanh-ton-8-inner12,
.group-parent156 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.chi-tit-thanh-ton-8-inner12 {
  top: 45px;
  left: 672px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child648 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn29 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child649 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent304 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child650 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child650,
.group-wrapper53,
.rectangle-wrapper29 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper53 {
  left: 367px;
}
.chi-tit-thanh-ton-8-inner13,
.group-parent157 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.chi-tit-thanh-ton-8-inner13 {
  top: 27px;
  left: 793px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.chi-tit-thanh-ton-8-child16 {
  position: absolute;
  top: 44px;
  left: 1374px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon62,
.male-user-icon63 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon63 {
  left: 55px;
}
.male-user-parent29,
.ng-nhp20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.ng-nhp20 {
  top: 44px;
  left: 1327px;
  width: 26px;
  overflow: hidden;
}
.seven32 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new65,
.p107 {
  margin: 0;
}
.p107 {
  font-size: var(--font-size-5xl);
}
.new64 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child651 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r32 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.chi-tit-thanh-ton-8-inner14,
.seven-parent25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.chi-tit-thanh-ton-8-inner14 {
  top: 20px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.chi-tit-thanh-ton-8 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1557px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
