.final-o-polo-3-child,
.final-o-polo-3-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1450px;
  height: 2935px;
}
.final-o-polo-3-item {
  background-color: var(--color-white);
  width: 1440px;
  height: 101px;
}
.trang-ch4 {
  position: absolute;
  top: 130px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  white-space: pre-wrap;
}
.o-polo-newseven2 {
  margin: 0;
}
.o-polo-newseven-container {
  top: 2127px;
  left: 623px;
  font-size: var(--font-size-xs);
  width: 233px;
  height: 17px;
}
.div111,
.o-polo-newseven-container,
.o-thun-polo2 {
  position: absolute;
  display: inline-block;
}
.div111 {
  top: 2152px;
  left: 260px;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  width: 82px;
  height: 21px;
}
.o-thun-polo2 {
  top: 2129px;
  left: 1100px;
  font-size: var(--font-size-xs);
  width: 244px;
  height: 22px;
}
.span82 {
  white-space: pre-wrap;
}
.span83 {
  color: var(--color-red-200);
}
.div112,
.polo-pitying-pl1348 {
  position: absolute;
  top: 2151px;
  left: 1176px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 92px;
  height: 21px;
}
.polo-pitying-pl1348 {
  top: 2132px;
  left: 197px;
  font-size: var(--font-size-xs);
  width: 153px;
}
.span84 {
  white-space: pre-wrap;
}
.span85 {
  color: var(--color-red-200);
}
.div113 {
  position: absolute;
  top: 2151px;
  left: 728px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 88px;
  height: 21px;
}
.polo-striped-pl1375 {
  position: absolute;
  top: 186px;
  left: 772px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
}
.span86 {
  white-space: pre-wrap;
}
.span87 {
  color: var(--color-red-200);
}
.div114,
.wrapper8 {
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper8 {
  top: 249px;
  left: 774px;
  width: 240px;
  height: 29px;
  font-size: var(--font-size-5xl);
  color: var(--color-gray-100);
}
.final-o-polo-3-inner {
  position: absolute;
  top: 1675px;
  left: 57px;
  width: 397px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.div115 {
  position: absolute;
  top: 1700px;
  left: 76px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.final-o-polo-3-child1 {
  position: absolute;
  top: 1675px;
  left: 526px;
  width: 398px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.div116 {
  position: absolute;
  top: 1708px;
  left: 548px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.final-o-polo-3-child2 {
  position: absolute;
  top: 1675px;
  left: 997px;
  width: 397px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.final-o-polo-3-child3,
.final-o-polo-3-child4,
.final-o-polo-3-child5,
.final-o-polo-3-child6 {
  position: absolute;
  top: 313.5px;
  left: 773.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 567px;
  height: 1px;
}
.final-o-polo-3-child4,
.final-o-polo-3-child5,
.final-o-polo-3-child6 {
  top: 369.5px;
}
.final-o-polo-3-child5,
.final-o-polo-3-child6 {
  top: 442.5px;
}
.final-o-polo-3-child6 {
  top: 510.5px;
}
.cn-hng2 {
  font-weight: 600;
  color: var(--color-forestgreen);
}
.tnh-trng-cn-container2 {
  position: absolute;
  top: 330px;
  left: 774px;
}
.dang-mc-o2,
.m-na2 {
  position: absolute;
  top: 393px;
  left: 772px;
}
.dang-mc-o2 {
  top: 471px;
  left: 774px;
}
.mu2,
.size3,
.t-kho-polo2 {
  position: absolute;
  top: 537px;
  left: 772px;
}
.mu2,
.size3 {
  top: 634px;
  left: 774px;
}
.size3 {
  top: 700px;
}
.final-o-polo-3-child10,
.final-o-polo-3-child7,
.final-o-polo-3-child8,
.final-o-polo-3-child9 {
  position: absolute;
  top: 1003px;
  left: 31px;
  width: 158px;
  height: 160px;
  object-fit: cover;
}
.final-o-polo-3-child10,
.final-o-polo-3-child8,
.final-o-polo-3-child9 {
  left: 398px;
}
.final-o-polo-3-child10,
.final-o-polo-3-child9 {
  left: 215px;
}
.final-o-polo-3-child10 {
  left: 584px;
}
.sn-phm-tng2 {
  position: absolute;
  top: 1582px;
  left: 33px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.final-o-polo-3-child11 {
  position: absolute;
  top: 2245px;
  left: 0;
  background-color: var(--color-white);
  width: 1442px;
  height: 111px;
}
.vector-icon7 {
  position: absolute;
  height: 2.76%;
  width: 6.6%;
  top: 72.47%;
  right: 86.94%;
  bottom: 24.77%;
  left: 6.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-o-polo-3-child12 {
  position: absolute;
  top: 2274px;
  left: 39px;
  border-radius: 50%;
  width: 53.8px;
  height: 50px;
  object-fit: cover;
}
.span88 {
  color: var(--color-red-300);
}
.h-tr-container10 {
  position: absolute;
  top: 2287px;
  left: 111px;
  display: inline-block;
  width: 324px;
  height: 22px;
}
.blank-line19,
.gii-thiu10,
.n7-hng-n10 {
  margin: 0;
}
.gii-thiu-n7-container10 {
  position: absolute;
  top: 2432px;
  left: 21px;
  display: inline-block;
  width: 688px;
  height: 91px;
}
.chi-tit-sn2 {
  position: absolute;
  top: 1200px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.div117 {
  display: inline-block;
}
.div117,
.final-o-polo-3-inner1,
.wrapper9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 21px;
}
.final-o-polo-3-inner1 {
  top: 2152px;
  left: 169px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.div118,
.wrapper10 {
  position: absolute;
  width: 89px;
  height: 21px;
}
.div118 {
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.wrapper10 {
  top: 2151px;
  left: 639px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.final-o-polo-3-child13,
.final-o-polo-3-child14,
.final-o-polo-3-child15,
.final-o-polo-3-child16 {
  position: absolute;
  top: 2623px;
  left: 765px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.final-o-polo-3-child14,
.final-o-polo-3-child15,
.final-o-polo-3-child16 {
  left: 877px;
}
.final-o-polo-3-child15,
.final-o-polo-3-child16 {
  left: 821px;
}
.final-o-polo-3-child16 {
  left: 933px;
}
.cng-ty-tnhh3,
.thng-tin-lin10 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 191px;
  height: 39px;
}
.cng-ty-tnhh3 {
  top: 33px;
  left: 29px;
  width: 202px;
  height: 29px;
}
.group-child173 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.c-s-110 {
  position: absolute;
  top: 0;
  left: 29px;
  display: inline-block;
  width: 413px;
  height: 23px;
}
.group-child174,
.vector-parent2 {
  position: absolute;
  top: 69px;
  left: 0;
  width: 442px;
  height: 23px;
}
.group-child174 {
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.c-s-210 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 419px;
  height: 48px;
}
.ellipse-parent3,
.group-child175 {
  position: absolute;
  top: 105px;
  left: 0;
  width: 446px;
  height: 48px;
}
.group-child175 {
  top: 8px;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.blank-line20,
.blank-line21,
.blank-line22,
.p29 {
  margin: 0;
}
.p30,
.p31,
.p32,
.p33 {
  margin: 0;
  white-space: pre-wrap;
}
.div119,
.div120 {
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 688px;
  height: 28px;
}
.div120 {
  top: 5px;
  left: 18px;
  width: 158px;
  height: 23px;
}
.group-child176,
.vector-parent3 {
  position: absolute;
  top: 134px;
  left: 4px;
  width: 689px;
  height: 28px;
}
.group-child176 {
  top: 5px;
  left: 0;
  border-radius: 50%;
  width: 16px;
  height: 17px;
  object-fit: cover;
}
.newsevenvngmailcom10 {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 245px;
  height: 25px;
}
.ellipse-parent4 {
  position: absolute;
  top: 169px;
  left: 4px;
  width: 268px;
  height: 25px;
}
.group-child177,
.thng-tin-lin-h-container {
  position: absolute;
  top: 2422px;
  left: 765px;
  width: 693px;
  height: 194px;
}
.group-child177 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.m9 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
}
.group-child178,
.rectangle-parent89 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 40px;
  height: 40px;
}
.group-child178 {
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.m10 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
}
.group-parent41,
.rectangle-parent90 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-parent41 {
  width: 113px;
}
.final-o-polo-3-inner2,
.group-child179 {
  position: absolute;
  width: 40px;
  height: 40px;
}
.final-o-polo-3-inner2 {
  top: 684px;
  left: 945px;
  overflow: hidden;
}
.group-child179 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.l5 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.group-child180,
.rectangle-parent91 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child180 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.l6 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.group-parent42,
.rectangle-parent92 {
  position: absolute;
  top: 0;
  left: 81px;
  width: 40px;
  height: 40px;
}
.group-parent42 {
  left: 0;
  width: 121px;
}
.final-o-polo-3-inner3,
.group-child181 {
  position: absolute;
  width: 40px;
  height: 40px;
}
.final-o-polo-3-inner3 {
  top: 684px;
  left: 1005px;
  overflow: hidden;
}
.group-child181 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.xl4 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.group-child182,
.rectangle-parent93 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child182 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.xl5 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.rectangle-parent94 {
  position: absolute;
  top: 0;
  left: 72px;
  width: 40px;
  height: 40px;
}
.final-o-polo-3-inner4,
.group-parent43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 40px;
}
.final-o-polo-3-inner4 {
  top: 684px;
  left: 1064px;
  width: 40px;
  overflow: hidden;
}
.final-o-polo-3-child17 {
  position: absolute;
  top: 186px;
  left: 36px;
  width: 711px;
  height: 780px;
  object-fit: cover;
}
.group-child183 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 222px;
  height: 42px;
}
.thm-vo-gi4 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.group-child184,
.rectangle-parent95 {
  position: absolute;
  top: 0;
  left: 0;
  width: 222px;
  height: 42px;
}
.group-child184 {
  background-color: var(--color-dimgray-300);
}
.thm-vo-gi5 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.rectangle-parent96 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 222px;
  height: 42px;
}
.final-o-polo-3-inner5,
.group-parent44 {
  position: absolute;
  top: 0;
  left: 0;
  width: 468px;
  height: 42px;
}
.final-o-polo-3-inner5 {
  top: 772px;
  left: 945px;
  width: 222px;
  overflow: hidden;
  color: var(--color-white);
}
.group-child185,
.group-child186 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 40px;
  height: 40px;
}
.group-child186 {
  left: 66px;
  background-color: var(--color-gray-1200);
}
.final-o-polo-3-inner6,
.rectangle-parent97 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-polo-3-inner6 {
  top: 626px;
  left: 945px;
  width: 40px;
  overflow: hidden;
}
.group-child187 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-200);
  width: 420px;
  height: 117px;
}
.mua-ngay4 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc4 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.group-child188,
.rectangle-parent98 {
  position: absolute;
  top: 0;
  left: 479px;
  width: 420px;
  height: 117px;
}
.group-child188 {
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-100);
}
.mua-ngay5 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc5 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.rectangle-parent99 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 117px;
  color: var(--color-white);
}
.final-o-polo-3-inner7,
.frame-wrapper41,
.group-parent45,
.group-wrapper14,
.group-wrapper15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 899px;
  height: 117px;
}
.final-o-polo-3-inner7 {
  top: 848px;
  left: 781px;
  width: 420px;
  overflow: hidden;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-1300);
}
.group-child189,
.group-child190 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child190 {
  left: 156px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b12,
.b13 {
  position: absolute;
  top: 9px;
  left: 7px;
}
.b13 {
  left: 163px;
  color: var(--color-gray-400);
}
.group-child191,
.group-child192 {
  position: absolute;
  top: 0;
  left: 84px;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child192 {
  left: 240px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b14,
.b15 {
  position: absolute;
  top: 9px;
  left: 89px;
}
.b15 {
  left: 245px;
  color: var(--color-gray-400);
}
.group-child193,
.group-child194 {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 60px;
  height: 42px;
}
.group-child194 {
  left: 180px;
}
.b16,
.b17 {
  position: absolute;
  top: 9px;
  left: 49px;
}
.b17 {
  left: 205px;
}
.rectangle-parent100 {
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 42px;
}
.div121,
.th-t2 {
  position: absolute;
}
.th-t2 {
  top: 772px;
  left: 781px;
  width: 108px;
  height: 42px;
  overflow: hidden;
}
.div121 {
  top: 235px;
  left: 47px;
  font-size: var(--font-size-sm);
  color: var(--color-red-400);
}
.cht-liu-value,
.hng-chun-newseven-sn-xut1,
.polo-striped-pl1376 {
  margin: 0;
}
.polo-striped-pl137-container {
  position: absolute;
  top: 1255px;
  left: 33px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.b-mt-vi,
.p34,
.vi-mm-mi,
.vi-t-nhn {
  margin: 0;
}
.vi-mm-mi-container {
  position: absolute;
  top: 1335px;
  left: 33px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.kiu-dng-o,
.mc-nh1,
.newseven-mang-n-sn,
.ng-may-chun,
.thit-k-hin {
  margin: 0;
}
.kiu-dng-o-container {
  position: absolute;
  top: 1415px;
  left: 33px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.seven12 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new25,
.p35 {
  margin: 0;
}
.p35 {
  font-size: var(--font-size-5xl);
}
.new24 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child195 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r12 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.final-o-polo-3-inner8,
.seven-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.final-o-polo-3-inner8 {
  top: 12px;
  left: 1584px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.seven13 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new27,
.p36 {
  margin: 0;
}
.p36 {
  font-size: var(--font-size-5xl);
}
.new26 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child196 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r13 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.final-o-polo-3-inner9,
.seven-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.final-o-polo-3-inner9 {
  top: 16px;
  left: 31px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.home28,
.home29 {
  position: absolute;
  top: 0;
  left: 0;
}
.home29 {
  left: 105px;
  color: var(--color-gray-300);
}
.final-o-polo-3-inner10,
.home-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.final-o-polo-3-inner10 {
  top: 37px;
  left: 223px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child197,
.shop26 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child197 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent20,
.shop27 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent20 {
  width: 78px;
  height: 29px;
}
.shop27 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child198,
.shop-parent21 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent21 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.final-o-polo-3-inner11,
.group-parent46 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.final-o-polo-3-inner11 {
  top: 36px;
  left: 347px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact26,
.contact27 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact27 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent9,
.final-o-polo-3-inner12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.final-o-polo-3-inner12 {
  top: 37px;
  left: 464px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group29,
.group30 {
  position: absolute;
  top: 0;
  left: 0;
}
.group30 {
  left: 94px;
  color: var(--color-gray-400);
}
.final-o-polo-3-inner13,
.group-parent47 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.final-o-polo-3-inner13 {
  top: 37px;
  left: 625px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child199 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn10 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child200 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent101 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child201 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child201,
.group-wrapper16,
.rectangle-wrapper10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper16 {
  left: 367px;
}
.final-o-polo-3-inner14,
.group-parent48 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.final-o-polo-3-inner14 {
  top: 19px;
  left: 746px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.final-o-polo-3-child18 {
  position: absolute;
  top: 36px;
  left: 1327px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon24,
.male-user-icon25 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon25 {
  left: 55px;
}
.final-o-polo-3-inner15,
.male-user-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.final-o-polo-3-inner15 {
  top: 36px;
  left: 1280px;
  width: 26px;
  overflow: hidden;
}
.final-o-polo-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2719px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
