.final-o-polo-4-child,
.final-o-polo-4-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1450px;
  height: 2935px;
}
.final-o-polo-4-item {
  background-color: var(--color-white);
  width: 1440px;
  height: 101px;
}
.trang-ch5 {
  position: absolute;
  top: 130px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
  white-space: pre-wrap;
}
.o-polo-newseven3 {
  margin: 0;
}
.o-polo-newseven-container1 {
  top: 2210px;
  left: 623px;
  font-size: var(--font-size-xs);
  width: 233px;
  height: 17px;
}
.div122,
.o-polo-newseven-container1,
.o-thun-polo3 {
  position: absolute;
  display: inline-block;
}
.div122 {
  top: 2235px;
  left: 260px;
  font-size: var(--font-size-base);
  color: var(--color-red-200);
  width: 82px;
  height: 21px;
}
.o-thun-polo3 {
  top: 2212px;
  left: 1100px;
  font-size: var(--font-size-xs);
  width: 244px;
  height: 22px;
}
.span89 {
  white-space: pre-wrap;
}
.span90 {
  color: var(--color-red-200);
}
.div123,
.polo-pitying-pl1349 {
  position: absolute;
  top: 2234px;
  left: 1217px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 92px;
  height: 21px;
}
.polo-pitying-pl1349 {
  top: 2215px;
  left: 197px;
  font-size: var(--font-size-xs);
  width: 153px;
}
.span91 {
  white-space: pre-wrap;
}
.span92 {
  color: var(--color-red-200);
}
.div124 {
  position: absolute;
  top: 2234px;
  left: 728px;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 88px;
  height: 21px;
}
.o-thun-polo4 {
  position: absolute;
  top: 186px;
  left: 772px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
}
.div125,
.wrapper11 {
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper11 {
  top: 249px;
  left: 774px;
  width: 110px;
  height: 29px;
  font-size: var(--font-size-5xl);
  color: var(--color-red-200);
}
.final-o-polo-4-inner {
  position: absolute;
  top: 1758px;
  left: 57px;
  width: 397px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.div126 {
  position: absolute;
  top: 1783px;
  left: 76px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.final-o-polo-4-child1 {
  position: absolute;
  top: 1758px;
  left: 526px;
  width: 398px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.div127 {
  position: absolute;
  top: 1791px;
  left: 548px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.final-o-polo-4-child2 {
  position: absolute;
  top: 1758px;
  left: 997px;
  width: 397px;
  height: 443px;
  object-fit: cover;
  cursor: pointer;
}
.div128 {
  position: absolute;
  top: 1796px;
  left: 1018px;
  font-size: var(--font-size-sm);
  color: var(--color-red-500);
}
.final-o-polo-4-child3,
.final-o-polo-4-child4,
.final-o-polo-4-child5,
.final-o-polo-4-child6 {
  position: absolute;
  top: 313.5px;
  left: 773.5px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 567px;
  height: 1px;
}
.final-o-polo-4-child4,
.final-o-polo-4-child5,
.final-o-polo-4-child6 {
  top: 369.5px;
}
.final-o-polo-4-child5,
.final-o-polo-4-child6 {
  top: 442.5px;
}
.final-o-polo-4-child6 {
  top: 510.5px;
}
.cn-hng3 {
  font-weight: 600;
  color: var(--color-forestgreen);
}
.tnh-trng-cn-container3 {
  position: absolute;
  top: 330px;
  left: 774px;
}
.dang-mc-o3,
.m-na3 {
  position: absolute;
  top: 393px;
  left: 772px;
}
.dang-mc-o3 {
  top: 471px;
  left: 774px;
}
.mu3,
.size4,
.t-kho-polo3 {
  position: absolute;
  top: 537px;
  left: 772px;
}
.mu3,
.size4 {
  top: 634px;
  left: 774px;
}
.size4 {
  top: 700px;
}
.final-o-polo-4-child7,
.final-o-polo-4-child8,
.final-o-polo-4-child9 {
  position: absolute;
  top: 1003px;
  left: 31px;
  width: 158px;
  height: 160px;
  object-fit: cover;
}
.final-o-polo-4-child8,
.final-o-polo-4-child9 {
  left: 398px;
}
.final-o-polo-4-child9 {
  left: 215px;
}
.sn-phm-tng3 {
  position: absolute;
  top: 1665px;
  left: 33px;
  font-size: var(--font-size-13xl);
  font-weight: 500;
}
.final-o-polo-4-child10 {
  position: absolute;
  top: 2328px;
  left: 0;
  background-color: var(--color-white);
  width: 1442px;
  height: 111px;
}
.vector-icon8 {
  position: absolute;
  height: 2.76%;
  width: 6.6%;
  top: 75.3%;
  right: 86.94%;
  bottom: 21.94%;
  left: 6.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.final-o-polo-4-child11 {
  position: absolute;
  top: 2357px;
  left: 39px;
  border-radius: 50%;
  width: 53.8px;
  height: 50px;
  object-fit: cover;
}
.span93 {
  color: var(--color-red-300);
}
.h-tr-container11 {
  position: absolute;
  top: 2370px;
  left: 111px;
  display: inline-block;
  width: 324px;
  height: 22px;
}
.blank-line23,
.gii-thiu11,
.n7-hng-n11 {
  margin: 0;
}
.gii-thiu-n7-container11 {
  position: absolute;
  top: 2515px;
  left: 21px;
  display: inline-block;
  width: 688px;
  height: 91px;
}
.chi-tit-sn3 {
  position: absolute;
  top: 1200px;
  left: 31px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
}
.div129 {
  display: inline-block;
}
.div129,
.final-o-polo-4-inner1,
.wrapper12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 82px;
  height: 21px;
}
.final-o-polo-4-inner1 {
  top: 2235px;
  left: 169px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.div130,
.wrapper13 {
  position: absolute;
  width: 89px;
  height: 21px;
}
.div130 {
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.wrapper13 {
  top: 2234px;
  left: 639px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.div131,
.wrapper14 {
  position: absolute;
  width: 92px;
  height: 21px;
}
.div131 {
  top: 0;
  left: 0;
  white-space: pre-wrap;
  display: inline-block;
}
.wrapper14 {
  top: 2234px;
  left: 1136px;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.final-o-polo-4-child12,
.final-o-polo-4-child13,
.final-o-polo-4-child14,
.final-o-polo-4-child15 {
  position: absolute;
  top: 2706px;
  left: 765px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.final-o-polo-4-child13,
.final-o-polo-4-child14,
.final-o-polo-4-child15 {
  left: 877px;
}
.final-o-polo-4-child14,
.final-o-polo-4-child15 {
  left: 821px;
}
.final-o-polo-4-child15 {
  left: 933px;
}
.cng-ty-tnhh4,
.thng-tin-lin11 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 191px;
  height: 39px;
}
.cng-ty-tnhh4 {
  top: 33px;
  left: 29px;
  width: 202px;
  height: 29px;
}
.group-child202 {
  position: absolute;
  top: 2px;
  left: 0;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.c-s-111 {
  position: absolute;
  top: 0;
  left: 29px;
  display: inline-block;
  width: 413px;
  height: 23px;
}
.group-child203,
.vector-parent4 {
  position: absolute;
  top: 69px;
  left: 0;
  width: 442px;
  height: 23px;
}
.group-child203 {
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.c-s-211 {
  position: absolute;
  top: 0;
  left: 27px;
  display: inline-block;
  width: 419px;
  height: 48px;
}
.ellipse-parent5,
.group-child204 {
  position: absolute;
  top: 105px;
  left: 0;
  width: 446px;
  height: 48px;
}
.group-child204 {
  top: 8px;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.blank-line24,
.blank-line25,
.blank-line26,
.p37 {
  margin: 0;
}
.p38,
.p39,
.p40,
.p41 {
  margin: 0;
  white-space: pre-wrap;
}
.div132,
.div133 {
  position: absolute;
  top: 0;
  left: 1px;
  display: inline-block;
  width: 688px;
  height: 28px;
}
.div133 {
  top: 5px;
  left: 18px;
  width: 158px;
  height: 23px;
}
.group-child205,
.vector-parent5 {
  position: absolute;
  top: 134px;
  left: 4px;
  width: 689px;
  height: 28px;
}
.group-child205 {
  top: 5px;
  left: 0;
  border-radius: 50%;
  width: 16px;
  height: 17px;
  object-fit: cover;
}
.newsevenvngmailcom11 {
  position: absolute;
  top: 0;
  left: 23px;
  display: inline-block;
  width: 245px;
  height: 25px;
}
.ellipse-parent6 {
  position: absolute;
  top: 169px;
  left: 4px;
  width: 268px;
  height: 25px;
}
.group-child206,
.thng-tin-lin-h-parent1 {
  position: absolute;
  top: 2505px;
  left: 765px;
  width: 693px;
  height: 194px;
}
.group-child206 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.m11 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
}
.group-child207,
.rectangle-parent102 {
  position: absolute;
  top: 0;
  left: 73px;
  width: 40px;
  height: 40px;
}
.group-child207 {
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
}
.m12 {
  position: absolute;
  top: 8px;
  left: 11px;
  display: inline-block;
  width: 23px;
  text-shadow: 1px 0 0 transparent, 0 1px 0 transparent, -1px 0 0 transparent,
    0-1px 0 transparent;
}
.group-parent49,
.rectangle-parent103 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-parent49 {
  width: 113px;
}
.final-o-polo-4-inner2,
.group-child208 {
  position: absolute;
  width: 40px;
  height: 40px;
}
.final-o-polo-4-inner2 {
  top: 684px;
  left: 945px;
  overflow: hidden;
}
.group-child208 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.l7 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.group-child209,
.rectangle-parent104 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child209 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.l8 {
  position: absolute;
  top: 8px;
  left: 15px;
  display: inline-block;
  width: 23px;
}
.group-parent50,
.rectangle-parent105 {
  position: absolute;
  top: 0;
  left: 81px;
  width: 40px;
  height: 40px;
}
.group-parent50 {
  left: 0;
  width: 121px;
}
.final-o-polo-4-inner3,
.group-child210 {
  position: absolute;
  width: 40px;
  height: 40px;
}
.final-o-polo-4-inner3 {
  top: 684px;
  left: 1005px;
  overflow: hidden;
}
.group-child210 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
}
.xl6 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.group-child211,
.rectangle-parent106 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.group-child211 {
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.xl7 {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-block;
  width: 32px;
}
.rectangle-parent107 {
  position: absolute;
  top: 0;
  left: 72px;
  width: 40px;
  height: 40px;
}
.final-o-polo-4-inner4,
.group-parent51 {
  position: absolute;
  top: 0;
  left: 0;
  width: 112px;
  height: 40px;
}
.final-o-polo-4-inner4 {
  top: 684px;
  left: 1064px;
  width: 40px;
  overflow: hidden;
}
.final-o-polo-4-child16 {
  position: absolute;
  top: 186px;
  left: 36px;
  width: 711px;
  height: 780px;
  object-fit: cover;
}
.group-child212 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 222px;
  height: 42px;
}
.thm-vo-gi6 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.group-child213,
.rectangle-parent108 {
  position: absolute;
  top: 0;
  left: 0;
  width: 222px;
  height: 42px;
}
.group-child213 {
  background-color: var(--color-dimgray-300);
}
.thm-vo-gi7 {
  position: absolute;
  top: 9px;
  left: 17px;
}
.rectangle-parent109 {
  position: absolute;
  top: 0;
  left: 246px;
  width: 222px;
  height: 42px;
}
.final-o-polo-4-inner5,
.group-parent52 {
  position: absolute;
  top: 0;
  left: 0;
  width: 468px;
  height: 42px;
}
.final-o-polo-4-inner5 {
  top: 772px;
  left: 945px;
  width: 222px;
  overflow: hidden;
  color: var(--color-white);
}
.group-child214,
.group-child215 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 40px;
  height: 40px;
}
.group-child215 {
  left: 66px;
  background-color: var(--color-gray-1200);
}
.final-o-polo-4-inner6,
.rectangle-parent110 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-polo-4-inner6 {
  top: 626px;
  left: 945px;
  width: 40px;
  overflow: hidden;
}
.group-child216,
.group-child217 {
  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
}
.group-child216 {
  left: 0;
  background-color: #e3d2cb;
}
.group-child217 {
  left: 66px;
  background-color: rgba(227, 210, 203, 0.62);
}
.final-o-polo-4-inner7,
.rectangle-parent111 {
  position: absolute;
  top: 0;
  left: 0;
  width: 106px;
  height: 40px;
}
.final-o-polo-4-inner7 {
  top: 626px;
  left: 1005px;
  width: 40px;
  overflow: hidden;
}
.group-child218 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-200);
  width: 420px;
  height: 117px;
}
.mua-ngay6 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc6 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.group-child219,
.rectangle-parent112 {
  position: absolute;
  top: 0;
  left: 479px;
  width: 420px;
  height: 117px;
}
.group-child219 {
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-orangered-100);
}
.mua-ngay7 {
  position: absolute;
  top: 15px;
  right: 111px;
}
.gi-in-xc7 {
  position: absolute;
  top: 77px;
  left: 27px;
  font-size: var(--font-size-xl);
}
.rectangle-parent113 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 117px;
  color: var(--color-white);
}
.final-o-polo-4-inner8,
.frame-wrapper42,
.group-parent53,
.group-wrapper17,
.group-wrapper18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 899px;
  height: 117px;
}
.final-o-polo-4-inner8 {
  top: 848px;
  left: 781px;
  width: 420px;
  overflow: hidden;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-1300);
}
.group-child220,
.group-child221 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child221 {
  left: 156px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b18,
.b19 {
  position: absolute;
  top: 9px;
  left: 7px;
}
.b19 {
  left: 163px;
  color: var(--color-gray-400);
}
.group-child222,
.group-child223 {
  position: absolute;
  top: 0;
  left: 84px;
  background-color: var(--color-silver-200);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 24px;
  height: 42px;
}
.group-child223 {
  left: 240px;
  background-color: var(--color-silver-300);
  border: 1px solid var(--color-silver-300);
}
.b20,
.b21 {
  position: absolute;
  top: 9px;
  left: 89px;
}
.b21 {
  left: 245px;
  color: var(--color-gray-400);
}
.group-child224,
.group-child225 {
  position: absolute;
  top: 0;
  left: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 60px;
  height: 42px;
}
.group-child225 {
  left: 180px;
}
.b22,
.b23 {
  position: absolute;
  top: 9px;
  left: 49px;
}
.b23 {
  left: 205px;
}
.rectangle-parent114,
.th-t3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 264px;
  height: 42px;
}
.th-t3 {
  top: 772px;
  left: 781px;
  width: 108px;
  overflow: hidden;
}
.bng-trn-ch1,
.cht-liu-cao,
.cht-liu-da,
.hng-chun-n7,
.hng-dn-s1,
.khi-phi-ln1,
.khng-git-my1,
.khng-s-dng,
.mc-nh2,
.ng-may-chun1,
.nh-ln-tri,
.size-l1,
.size-m-1m55-1m70,
.size-s-1m50-1m65,
.size-xl-1m70-1m8570-80kg,
.thit-k-hin1,
.thng-s-chn1,
.thng-tin-sn1 {
  margin: 0;
}
.thng-tin-sn-container1 {
  position: absolute;
  top: 1243px;
  left: 36px;
  font-size: var(--font-size-lg);
  font-weight: 500;
}
.home30,
.home31 {
  position: absolute;
  top: 0;
  left: 0;
}
.home31 {
  left: 105px;
  color: var(--color-gray-300);
}
.final-o-polo-4-inner9,
.home-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.final-o-polo-4-inner9 {
  top: 37px;
  left: 223px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child226,
.shop28 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child226 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent22,
.shop29 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent22 {
  width: 78px;
  height: 29px;
}
.shop29 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child227,
.shop-parent23 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent23 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.final-o-polo-4-inner10,
.group-parent54 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.final-o-polo-4-inner10 {
  top: 36px;
  left: 347px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact28,
.contact29 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact29 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent10,
.final-o-polo-4-inner11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.final-o-polo-4-inner11 {
  top: 37px;
  left: 464px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group31,
.group32 {
  position: absolute;
  top: 0;
  left: 0;
}
.group32 {
  left: 94px;
  color: var(--color-gray-400);
}
.final-o-polo-4-inner12,
.group-parent55 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.final-o-polo-4-inner12 {
  top: 37px;
  left: 625px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child228 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn11 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child229 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent115 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child230 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child230,
.group-wrapper19,
.rectangle-wrapper11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper19 {
  left: 367px;
}
.final-o-polo-4-inner13,
.group-parent56 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.final-o-polo-4-inner13 {
  top: 19px;
  left: 746px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.final-o-polo-4-child17 {
  position: absolute;
  top: 36px;
  left: 1327px;
  width: 26px;
  height: 26px;
  overflow: hidden;
}
.male-user-icon26,
.male-user-icon27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon27 {
  left: 55px;
}
.final-o-polo-4-inner14,
.male-user-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.final-o-polo-4-inner14 {
  top: 36px;
  left: 1280px;
  width: 26px;
  overflow: hidden;
}
.seven14 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new29,
.p42 {
  margin: 0;
}
.p42 {
  font-size: var(--font-size-5xl);
}
.new28 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child231 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r14 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.final-o-polo-4-inner15,
.seven-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.final-o-polo-4-inner15 {
  top: 19px;
  left: 36px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.final-o-polo-4 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2802px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
