.group-child740,
.shop77 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child740 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent68,
.shop78 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent68 {
  width: 78px;
  height: 29px;
}
.shop78 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child741 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.group-parent175,
.shop-parent69 {
  position: absolute;
  top: 0;
  height: 29px;
}
.shop-parent69 {
  left: 97px;
  width: 78px;
  color: var(--color-gray-400);
}
.group-parent175 {
  left: 0;
  width: 175px;
}
.group-parent174 {
  width: 100%;
  position: relative;
  height: 35px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
