.group-child764 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn36 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child765 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent354 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child766 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child766,
.group-parent190,
.group-wrapper60,
.rectangle-wrapper36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-parent190,
.group-wrapper60 {
  left: 367px;
}
.group-parent190 {
  left: 0;
  width: 705px;
}
.group-parent189 {
  width: 100%;
  position: relative;
  height: 73px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-inter);
}
