.contact5,
.contact6 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact6 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.group-frame {
  width: 100%;
  position: relative;
  height: 35px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
