.home5,
.home6 {
  position: absolute;
  top: 0;
  left: 0;
}
.home6 {
  left: 105px;
  color: var(--color-gray-300);
}
.home-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.group-root {
  width: 100%;
  position: relative;
  height: 35px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
