.gi-hng-child61,
.gi-hng-child62 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 2381px;
}
.gi-hng-child62 {
  top: -3px;
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container20 {
  position: absolute;
  top: 209px;
  left: 554px;
  font-size: var(--font-size-5xl);
}
.sn-phm20 {
  position: absolute;
  top: 316px;
  left: 55px;
  font-weight: 800;
}
.cng-gi-hng7,
.gi7,
.s-lng7,
.tm-tnh38 {
  position: absolute;
  top: 317px;
  left: 425px;
  font-weight: 800;
}
.cng-gi-hng7,
.s-lng7,
.tm-tnh38 {
  top: 312px;
  left: 566px;
}
.cng-gi-hng7,
.tm-tnh38 {
  left: 716px;
}
.cng-gi-hng7 {
  top: 311px;
  left: 892px;
}
.giao-hng19,
.tm-tnh39 {
  position: absolute;
  top: 379px;
  left: 892px;
  color: var(--color-dimgray-100);
}
.giao-hng19 {
  top: 435px;
}
.span194 {
  color: var(--color-black);
}
.div351,
.tng19 {
  position: absolute;
  top: 542px;
  left: 892px;
  color: var(--color-dimgray-100);
}
.div351 {
  top: 538px;
  left: 1306px;
  font-weight: 800;
  color: var(--color-red-600);
}
.span195 {
  color: var(--color-black);
}
.span196 {
  color: var(--color-red-600);
}
.ph-ship-25000-container7,
.tnh-ph-giao7,
.tu-chn-giao7 {
  position: absolute;
  top: 423px;
  left: 1301px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-100);
}
.tnh-ph-giao7,
.tu-chn-giao7 {
  top: 439px;
  left: 1079px;
}
.tnh-ph-giao7 {
  top: 453px;
  left: 1298px;
}
.div352 {
  position: absolute;
  top: 379px;
  left: 1311px;
  font-weight: 800;
  color: var(--color-red-600);
}
.gi-hng-child63,
.gi-hng-child64 {
  position: absolute;
  box-sizing: border-box;
}
.gi-hng-child63 {
  top: 347.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  width: 812px;
  height: 1px;
}
.gi-hng-child64 {
  top: 315.5px;
  left: 845.5px;
  border-right: 1px solid var(--color-black);
  width: 1px;
  height: 499px;
}
.gi-hng-child65,
.gi-hng-child66,
.gi-hng-child67,
.gi-hng-child68 {
  position: absolute;
  top: 347.5px;
  left: 891.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 498px;
  height: 1px;
}
.gi-hng-child66,
.gi-hng-child67,
.gi-hng-child68 {
  top: 403.5px;
  width: 237px;
}
.gi-hng-child67,
.gi-hng-child68 {
  top: 473.5px;
  width: 94px;
}
.gi-hng-child68 {
  top: 566.5px;
  width: 237px;
}
.gi-hng-child69 {
  position: absolute;
  top: 361px;
  left: 55px;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.div353,
.div354,
.qun-short-basic9 {
  position: absolute;
  top: 389px;
  left: 143px;
  font-weight: 800;
}
.div353,
.div354 {
  left: 405px;
  color: var(--color-red-600);
}
.div354 {
  top: 385px;
  left: 718px;
}
.group-child805 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-700);
  width: 495px;
  height: 42px;
}
.tin-hnh-thanh7 {
  position: absolute;
  top: 11px;
  left: 173px;
  font-weight: 800;
}
.group-child806,
.rectangle-parent371 {
  position: absolute;
  width: 495px;
  height: 42px;
}
.rectangle-parent371 {
  top: 587px;
  left: 894px;
  color: var(--color-white);
}
.group-child806 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.group-child807,
.phiu-u-i7 {
  position: absolute;
  top: 11px;
  left: 44px;
}
.group-child807 {
  left: 10px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.rectangle-parent372 {
  position: absolute;
  top: 649px;
  left: 894px;
  width: 495px;
  height: 42px;
  color: var(--color-gray-900);
}
.group-child808 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 180px;
  height: 45px;
}
.cp-nht-gi7 {
  position: absolute;
  top: 13px;
  left: 21px;
  font-weight: 800;
}
.rectangle-parent373 {
  position: absolute;
  top: 490px;
  left: 352px;
  width: 180px;
  height: 45px;
  color: var(--color-white);
}
.group-child809 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 292px;
  height: 45px;
}
.tip-tc-xem7 {
  position: absolute;
  top: 13px;
  left: 63px;
  font-weight: 800;
}
.group-child810 {
  position: absolute;
  top: 23px;
  left: 41px;
  max-height: 100%;
  width: 15px;
  object-fit: contain;
}
.rectangle-parent374 {
  position: absolute;
  top: 490px;
  left: 25px;
  width: 292px;
  height: 45px;
  cursor: pointer;
}
.group-child811 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  width: 17px;
  height: 26px;
}
.div355 {
  position: absolute;
  top: 3px;
  left: 6px;
  font-weight: 800;
  display: inline-block;
  width: 5px;
  height: 4px;
}
.group-child812,
.group-child813 {
  position: absolute;
  top: 0;
  left: 52px;
  background-color: var(--color-silver-200);
  width: 17px;
  height: 26px;
}
.group-child813 {
  left: 17px;
  background-color: var(--color-white);
  width: 35px;
}
.div356,
.div357 {
  position: absolute;
  top: 8px;
  left: 32px;
  font-weight: 800;
}
.div357 {
  top: 7px;
  left: 57px;
}
.rectangle-parent375 {
  position: absolute;
  top: 382px;
  left: 575px;
  width: 69px;
  height: 26px;
  font-size: var(--font-size-3xs);
}
.group-child814,
.group-child815 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 495px;
  height: 42px;
}
.group-child815 {
  top: 77px;
  background-color: var(--color-gray-1400);
}
.m-u-i7 {
  position: absolute;
  top: 11px;
  left: 44px;
  font-weight: 800;
}
.gi-hng-inner24,
.rectangle-parent376 {
  position: absolute;
  top: 0;
  left: 0;
  width: 495px;
  height: 119px;
}
.gi-hng-inner24 {
  top: 711px;
  left: 890px;
  height: 42px;
  overflow: hidden;
  color: var(--color-gray-900);
}
.gi-hng-child70 {
  position: absolute;
  top: 897px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.vector-icon23 {
  position: absolute;
  height: 4.03%;
  width: 6.67%;
  top: 45.28%;
  right: 89.1%;
  bottom: 50.69%;
  left: 4.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gi-hng-child71 {
  position: absolute;
  top: 927px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.gi-hng-child72,
.gi-hng-child73,
.gi-hng-child74,
.gi-hng-child75 {
  position: absolute;
  top: 1185px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.gi-hng-child73,
.gi-hng-child74,
.gi-hng-child75 {
  top: 1212px;
  left: 764px;
}
.gi-hng-child74,
.gi-hng-child75 {
  top: 1239px;
  left: 765px;
  width: 17px;
  height: 16px;
}
.gi-hng-child75 {
  top: 1259px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span197 {
  color: var(--color-red-300);
}
.h-tr-container37 {
  position: absolute;
  top: 941px;
  left: 111px;
  font-size: var(--font-size-xl);
}
.blank-line82,
.gii-thiu37,
.n7-hng-n37 {
  margin: 0;
}
.gii-thiu-n7-container37 {
  top: 1095px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.cng-ty-tnnhh21,
.gii-thiu-n7-container37,
.thng-tin-lin37 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.thng-tin-lin37 {
  top: 1092px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh21 {
  top: 1138px;
  left: 788px;
}
.newsevenvngmailcom37 {
  top: 1257px;
  left: 788px;
}
.c-s-137,
.c-s-237,
.div358,
.newsevenvngmailcom37 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.c-s-137 {
  top: 1184px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-237,
.div358 {
  top: 1211px;
  left: 788px;
}
.div358 {
  top: 1235px;
}
.gi-hng-child76,
.gi-hng-child77,
.gi-hng-child78,
.gi-hng-child79 {
  position: absolute;
  top: 1287px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.gi-hng-child77,
.gi-hng-child78,
.gi-hng-child79 {
  left: 902px;
}
.gi-hng-child78,
.gi-hng-child79 {
  left: 845px;
}
.gi-hng-child79 {
  left: 959px;
}
.group-child816,
.group-child817 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-100);
  width: 495px;
  height: 42px;
}
.group-child817 {
  top: 95px;
}
.p-dng14,
.p-dng15 {
  position: absolute;
  top: 12px;
  left: 218px;
  font-weight: 800;
}
.p-dng15 {
  top: 107px;
  color: var(--color-gray-1500);
}
.rectangle-parent377 {
  position: absolute;
  top: 0;
  left: 0;
  width: 495px;
  height: 137px;
}
.gi-hng-child80,
.gi-hng-inner25 {
  position: absolute;
  overflow: hidden;
}
.gi-hng-inner25 {
  top: 776px;
  left: 890px;
  width: 495px;
  height: 42px;
  color: var(--color-gray-900);
}
.gi-hng-child80 {
  top: 399px;
  left: 16px;
  width: 18px;
  height: 18px;
}
.seven40 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new81,
.p115 {
  margin: 0;
}
.p115 {
  font-size: var(--font-size-5xl);
}
.new80 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child818 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r40 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.gi-hng-inner26,
.seven-parent33 {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.gi-hng-inner26 {
  top: 24px;
  left: 25px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.m35 {
  position: absolute;
  top: 414px;
  left: 270px;
  font-weight: 800;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.male-user-icon78,
.male-user-icon79 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon79 {
  left: 55px;
}
.male-user-parent37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.gi-hng-child81,
.gi-hng-inner27 {
  position: absolute;
  top: 38px;
  left: 1272px;
  width: 29px;
  height: 32px;
  overflow: hidden;
}
.gi-hng-child81 {
  left: 1325px;
}
.group91,
.group92 {
  position: absolute;
  top: 0;
  left: 0;
}
.group92 {
  left: 94px;
  color: var(--color-gray-400);
}
.group-parent197,
.group90 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.group90 {
  top: 42px;
  left: 652px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.home85,
.home86 {
  position: absolute;
  top: 0;
  left: 0;
}
.home86 {
  left: 105px;
  color: var(--color-gray-300);
}
.gi-hng-inner28,
.home-parent37 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.gi-hng-inner28 {
  top: 44px;
  left: 248px;
  width: 80px;
  height: 36px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child819,
.shop85 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child819 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent76,
.shop86 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent76 {
  width: 78px;
  height: 29px;
}
.shop86 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child820,
.shop-parent77 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent77 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.gi-hng-inner29,
.group-parent198 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.gi-hng-inner29 {
  top: 43px;
  left: 383px;
  width: 85px;
  height: 36px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact85,
.contact86 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact86 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent37,
.gi-hng-inner30 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.gi-hng-inner30 {
  top: 44px;
  left: 510px;
  width: 127px;
  height: 36px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child821 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn39 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child822 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent378 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child823 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child823,
.rectangle-wrapper39 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.gi-hng-inner31,
.group-parent199,
.group-wrapper63 {
  position: absolute;
  top: 0;
  left: 367px;
  width: 338px;
  height: 60px;
}
.gi-hng-inner31,
.group-parent199 {
  left: 0;
  width: 705px;
}
.gi-hng-inner31 {
  top: 18px;
  left: 807px;
  width: 368px;
  height: 73px;
  overflow: hidden;
  color: var(--color-white);
}
.gi-hng3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1668px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
