.gi-hng-3-child,
.gi-hng-3-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 2381px;
}
.gi-hng-3-item {
  top: -3px;
  background-color: var(--color-white);
  height: 104px;
}
.gi-hng-container2 {
  position: absolute;
  top: 209px;
  left: 554px;
  font-size: var(--font-size-5xl);
}
.sn-phm3 {
  position: absolute;
  top: 316px;
  left: 55px;
  font-weight: 800;
}
.cng-gi-hng2,
.gi2,
.s-lng2,
.tm-tnh4 {
  position: absolute;
  top: 317px;
  left: 425px;
  font-weight: 800;
}
.cng-gi-hng2,
.s-lng2,
.tm-tnh4 {
  top: 312px;
  left: 566px;
}
.cng-gi-hng2,
.tm-tnh4 {
  left: 716px;
}
.cng-gi-hng2 {
  top: 311px;
  left: 892px;
}
.giao-hng2,
.tm-tnh5 {
  position: absolute;
  top: 379px;
  left: 892px;
  color: var(--color-dimgray-100);
}
.giao-hng2 {
  top: 435px;
}
.span56 {
  color: var(--color-black);
}
.div67,
.tng2 {
  position: absolute;
  top: 542px;
  left: 892px;
  color: var(--color-dimgray-100);
}
.div67 {
  top: 538px;
  left: 1306px;
  font-weight: 800;
  color: var(--color-red-600);
}
.span57 {
  color: var(--color-black);
}
.span58 {
  color: var(--color-red-600);
}
.ph-ship-25000-container2,
.tnh-ph-giao2,
.tu-chn-giao2 {
  position: absolute;
  top: 423px;
  left: 1301px;
  font-size: var(--font-size-3xs);
  color: var(--color-dimgray-100);
}
.tnh-ph-giao2,
.tu-chn-giao2 {
  top: 439px;
  left: 1079px;
}
.tnh-ph-giao2 {
  top: 453px;
  left: 1298px;
}
.div68 {
  position: absolute;
  top: 379px;
  left: 1311px;
  font-weight: 800;
  color: var(--color-red-600);
}
.gi-hng-3-child1,
.gi-hng-3-inner {
  position: absolute;
  box-sizing: border-box;
}
.gi-hng-3-inner {
  top: 347.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-black);
  width: 812px;
  height: 1px;
}
.gi-hng-3-child1 {
  top: 315.5px;
  left: 845.5px;
  border-right: 1px solid var(--color-black);
  width: 1px;
  height: 499px;
}
.gi-hng-3-child2,
.gi-hng-3-child3,
.gi-hng-3-child4,
.gi-hng-3-child5 {
  position: absolute;
  top: 347.5px;
  left: 891.5px;
  border-top: 1px solid var(--color-gray-1600);
  box-sizing: border-box;
  width: 498px;
  height: 1px;
}
.gi-hng-3-child3,
.gi-hng-3-child4,
.gi-hng-3-child5 {
  top: 403.5px;
  width: 237px;
}
.gi-hng-3-child4,
.gi-hng-3-child5 {
  top: 473.5px;
  width: 94px;
}
.gi-hng-3-child5 {
  top: 566.5px;
  width: 237px;
}
.gi-hng-3-child6 {
  position: absolute;
  top: 361px;
  left: 55px;
  width: 85px;
  height: 85px;
  object-fit: cover;
}
.div69,
.div70,
.polo-striped-pl1372 {
  position: absolute;
  top: 389px;
  left: 165px;
  font-weight: 800;
}
.div69,
.div70 {
  left: 405px;
  color: var(--color-red-600);
}
.div70 {
  top: 385px;
  left: 718px;
}
.group-child37 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-700);
  width: 495px;
  height: 42px;
}
.tin-hnh-thanh2 {
  position: absolute;
  top: 11px;
  left: 173px;
  font-weight: 800;
}
.group-child38,
.rectangle-parent30 {
  position: absolute;
  width: 495px;
  height: 42px;
}
.rectangle-parent30 {
  top: 587px;
  left: 894px;
  cursor: pointer;
  color: var(--color-white);
}
.group-child38 {
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid var(--color-black);
  box-sizing: border-box;
}
.group-child39,
.phiu-u-i2 {
  position: absolute;
  top: 11px;
  left: 44px;
}
.group-child39 {
  left: 10px;
  width: 22px;
  height: 22px;
  object-fit: cover;
}
.rectangle-parent31 {
  position: absolute;
  top: 649px;
  left: 894px;
  width: 495px;
  height: 42px;
  color: var(--color-gray-900);
}
.group-child40 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray-200);
  width: 180px;
  height: 45px;
}
.cp-nht-gi2 {
  position: absolute;
  top: 13px;
  left: 21px;
  font-weight: 800;
}
.rectangle-parent32 {
  position: absolute;
  top: 490px;
  left: 352px;
  width: 180px;
  height: 45px;
  color: var(--color-white);
}
.group-child41 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 292px;
  height: 45px;
}
.tip-tc-xem2 {
  position: absolute;
  top: 13px;
  left: 63px;
  font-weight: 800;
}
.group-child42 {
  position: absolute;
  top: 23px;
  left: 41px;
  max-height: 100%;
  width: 15px;
  object-fit: contain;
}
.rectangle-parent33 {
  position: absolute;
  top: 490px;
  left: 25px;
  width: 292px;
  height: 45px;
  cursor: pointer;
}
.group-child43 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-200);
  width: 17px;
  height: 26px;
}
.div71 {
  position: absolute;
  top: 3px;
  left: 6px;
  font-weight: 800;
  display: inline-block;
  width: 5px;
  height: 4px;
}
.group-child44,
.group-child45 {
  position: absolute;
  top: 0;
  left: 52px;
  background-color: var(--color-silver-200);
  width: 17px;
  height: 26px;
}
.group-child45 {
  left: 17px;
  background-color: var(--color-white);
  width: 35px;
}
.div72,
.div73 {
  position: absolute;
  top: 8px;
  left: 32px;
  font-weight: 800;
}
.div73 {
  top: 7px;
  left: 57px;
}
.rectangle-parent34 {
  position: absolute;
  top: 382px;
  left: 575px;
  width: 69px;
  height: 26px;
  font-size: var(--font-size-3xs);
}
.group-child46,
.group-child47 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 495px;
  height: 42px;
}
.group-child47 {
  top: 77px;
  background-color: var(--color-gray-1400);
}
.m-u-i2 {
  position: absolute;
  top: 11px;
  left: 44px;
  font-weight: 800;
}
.gi-hng-3-inner1,
.rectangle-parent35 {
  position: absolute;
  top: 0;
  left: 0;
  width: 495px;
  height: 119px;
}
.gi-hng-3-inner1 {
  top: 711px;
  left: 890px;
  height: 42px;
  overflow: hidden;
  color: var(--color-gray-900);
}
.gi-hng-3-child7 {
  position: absolute;
  top: 897px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.vector-icon3 {
  position: absolute;
  height: 4.03%;
  width: 6.67%;
  top: 45.27%;
  right: 89.1%;
  bottom: 50.7%;
  left: 4.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.gi-hng-3-child8 {
  position: absolute;
  top: 927px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.gi-hng-3-child10,
.gi-hng-3-child11,
.gi-hng-3-child12,
.gi-hng-3-child9 {
  position: absolute;
  top: 1185px;
  left: 765px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.gi-hng-3-child10,
.gi-hng-3-child11,
.gi-hng-3-child12 {
  top: 1212px;
  left: 764px;
}
.gi-hng-3-child11,
.gi-hng-3-child12 {
  top: 1239px;
  left: 765px;
  width: 17px;
  height: 16px;
}
.gi-hng-3-child12 {
  top: 1259px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.span59 {
  color: var(--color-red-300);
}
.h-tr-container4 {
  position: absolute;
  top: 941px;
  left: 111px;
  font-size: var(--font-size-xl);
}
.blank-line7,
.gii-thiu4,
.n7-hng-n4 {
  margin: 0;
}
.gii-thiu-n7-container4 {
  top: 1095px;
  left: 21px;
  display: inline-block;
  width: 688px;
}
.cng-ty-tnnhh3,
.gii-thiu-n7-container4,
.thng-tin-lin4 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.thng-tin-lin4 {
  top: 1092px;
  left: 786px;
  white-space: pre-wrap;
}
.cng-ty-tnnhh3 {
  top: 1138px;
  left: 788px;
}
.newsevenvngmailcom4 {
  top: 1257px;
  left: 788px;
}
.c-s-14,
.c-s-24,
.div74,
.newsevenvngmailcom4 {
  position: absolute;
  font-size: var(--font-size-xl);
}
.c-s-14 {
  top: 1184px;
  left: 778px;
  white-space: pre-wrap;
}
.c-s-24,
.div74 {
  top: 1211px;
  left: 788px;
}
.div74 {
  top: 1235px;
}
.gi-hng-3-child13,
.gi-hng-3-child14,
.gi-hng-3-child15,
.gi-hng-3-child16 {
  position: absolute;
  top: 1287px;
  left: 788px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.gi-hng-3-child14,
.gi-hng-3-child15,
.gi-hng-3-child16 {
  left: 902px;
}
.gi-hng-3-child15,
.gi-hng-3-child16 {
  left: 845px;
}
.gi-hng-3-child16 {
  left: 959px;
}
.group-child48,
.group-child49 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-silver-100);
  width: 495px;
  height: 42px;
}
.group-child49 {
  top: 95px;
}
.p-dng4,
.p-dng5 {
  position: absolute;
  top: 12px;
  left: 218px;
  font-weight: 800;
}
.p-dng5 {
  top: 107px;
  color: var(--color-gray-1500);
}
.gi-hng-3-inner2,
.rectangle-parent36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 495px;
  height: 137px;
}
.gi-hng-3-inner2 {
  top: 776px;
  left: 890px;
  height: 42px;
  overflow: hidden;
  color: var(--color-gray-900);
}
.gi-hng-3-child17 {
  position: absolute;
  top: 399px;
  left: 16px;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.seven4 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new9,
.p11 {
  margin: 0;
}
.p11 {
  font-size: var(--font-size-5xl);
}
.new8 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child50 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r4 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.gi-hng-3-inner3,
.seven-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.gi-hng-3-inner3 {
  top: 24px;
  left: 25px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.m3 {
  position: absolute;
  top: 417px;
  left: 225px;
  font-weight: 800;
  display: inline-block;
  width: 15px;
  height: 15px;
}
.male-user-icon8,
.male-user-icon9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon9 {
  left: 55px;
}
.male-user-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.gi-hng-3-child18,
.gi-hng-3-inner4 {
  position: absolute;
  top: 41px;
  left: 1317px;
  width: 28px;
  height: 31px;
  overflow: hidden;
}
.gi-hng-3-child18 {
  left: 1369px;
}
.gi-hng-3 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1669px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-inter);
}
