.sn-phm-size-m-child,
.sn-phm-size-m-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 3285px;
}
.sn-phm-size-m-item {
  background-color: var(--color-white);
  height: 101px;
}
.seven24 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new49,
.p94 {
  margin: 0;
}
.p94 {
  font-size: var(--font-size-5xl);
}
.new48 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child486 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r24 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.seven-parent17,
.sn-phm-size-m-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.sn-phm-size-m-inner {
  top: 18px;
  left: 15px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.danh-mc-sn2,
.size14,
.trang-ch15 {
  position: absolute;
  top: 129px;
  left: 15px;
  font-weight: 300;
}
.danh-mc-sn2,
.size14 {
  top: 230px;
  font-weight: 500;
}
.size14 {
  top: 437px;
  left: 20px;
}
.sn-phm-size-m-child1 {
  position: absolute;
  top: 1239px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.vector-icon18 {
  position: absolute;
  height: 2.92%;
  width: 6.67%;
  top: 67.37%;
  right: 89.1%;
  bottom: 29.71%;
  left: 4.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sn-phm-size-m-child2,
.sn-phm-size-m-child3 {
  position: absolute;
  top: 1269px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.sn-phm-size-m-child3 {
  top: 1529px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.sn-phm-size-m-child4,
.sn-phm-size-m-child5,
.sn-phm-size-m-child6 {
  position: absolute;
  top: 1581px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.sn-phm-size-m-child5,
.sn-phm-size-m-child6 {
  top: 1555px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.sn-phm-size-m-child6 {
  top: 1606px;
}
.span139 {
  color: var(--color-red-300);
}
.h-tr-container21 {
  position: absolute;
  top: 1283px;
  left: 111px;
  font-size: var(--font-size-xl);
}
.blank-line62,
.gii-thiu21,
.n7-hng-n21 {
  margin: 0;
}
.gii-thiu-n7-container21 {
  position: absolute;
  top: 1437px;
  left: 21px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 688px;
}
.blank-line63,
.blank-line64,
.cng-ty-tnhh14,
.thng-tin-lin21 {
  margin: 0;
}
.c-s-121,
.c-s-221,
.newsevenvngmailcom21,
.p95 {
  margin: 0;
  white-space: pre-wrap;
}
.thng-tin-lin-container2 {
  position: absolute;
  top: 1432px;
  left: 764px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 688px;
}
.hin-th-kt2 {
  position: absolute;
  top: 135px;
  left: 1047px;
  font-weight: 300;
}
.sn-phm-size-m-child7 {
  position: absolute;
  top: 129px;
  left: 1236px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 41px;
}
.mc-nh6 {
  position: absolute;
  top: 135px;
  left: 1248px;
  font-weight: 300;
}
.sn-phm-size-m-child8,
.sn-phm-size-m-child9 {
  position: absolute;
  top: 149.5px;
  left: 1365px;
  width: 5.6px;
  height: 5.8px;
  object-fit: contain;
}
.sn-phm-size-m-child9 {
  top: 149px;
  left: 1370.3px;
  width: 5.7px;
}
.o2,
.qun2 {
  position: absolute;
}
.o2 {
  top: 295px;
  left: 55px;
  font-weight: 300;
}
.qun2 {
  top: 356px;
  left: 52px;
}
.m30,
.qun2,
.s2 {
  font-weight: 300;
}
.s2 {
  position: absolute;
  top: 493px;
  left: 59px;
}
.m30 {
  top: 555px;
  left: 58px;
}
.div239,
.l26,
.m30 {
  position: absolute;
}
.l26 {
  top: 611px;
  left: 62px;
  font-weight: 300;
}
.div239 {
  top: 643px;
  left: 400px;
  font-size: var(--font-size-3xs);
  color: var(--color-firebrick);
  display: none;
}
.sn-phm-size-m-child10 {
  position: absolute;
  top: 235px;
  left: 1024px;
  width: 297px;
  height: 313px;
  object-fit: cover;
  cursor: pointer;
}
.sn-phm-size-m-child11,
.sn-phm-size-m-child12,
.sn-phm-size-m-child13,
.sn-phm-size-m-child14 {
  position: absolute;
  top: 235px;
  left: 672px;
  width: 297px;
  height: 313px;
  object-fit: cover;
  cursor: pointer;
}
.sn-phm-size-m-child12,
.sn-phm-size-m-child13,
.sn-phm-size-m-child14 {
  top: 675px;
  left: 321px;
}
.sn-phm-size-m-child13,
.sn-phm-size-m-child14 {
  top: 672px;
  left: 672px;
}
.sn-phm-size-m-child14 {
  left: 1023px;
}
.qun-short-insert9,
.short-newseven-chopper5 {
  position: absolute;
  font-size: var(--font-size-xs);
}
.qun-short-insert9 {
  top: 571px;
  left: 756px;
  display: inline-block;
  width: 128px;
  height: 32px;
}
.short-newseven-chopper5 {
  top: 572px;
  left: 1074px;
}
.qun-short-newseven8 {
  margin: 0;
}
.qun-short-newseven-container8 {
  position: absolute;
  top: 1008px;
  left: 363px;
  font-size: var(--font-size-xs);
}
.o-thun-n72,
.p96 {
  margin: 0;
}
.o-thun-n7-container2 {
  position: absolute;
  top: 1005px;
  left: 714px;
  font-size: var(--font-size-xs);
}
.qun-short-basic4 {
  margin: 0;
}
.qun-short-basic-container1 {
  position: absolute;
  top: 1005px;
  left: 1082px;
  font-size: var(--font-size-xs);
}
.div240,
.div241,
.div242 {
  position: absolute;
  top: 255px;
  left: 680px;
  font-size: var(--font-size-3xs);
  color: var(--color-firebrick);
}
.div241,
.div242 {
  top: 254px;
  left: 1039px;
}
.div242 {
  top: 693px;
  left: 328px;
}
.span140 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span141 {
  color: var(--color-red-200);
}
.div243 {
  position: absolute;
  top: 593px;
  left: 756px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-100);
}
.span142 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span143 {
  color: var(--color-red-200);
}
.div244 {
  position: absolute;
  top: 597px;
  left: 1117px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.span144 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span145 {
  color: var(--color-red-200);
}
.div245 {
  position: absolute;
  top: 1037px;
  left: 413px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.span146 {
  white-space: pre-wrap;
}
.span147 {
  color: var(--color-red-200);
}
.div246,
.div247 {
  position: absolute;
  top: 1032px;
  left: 787px;
  font-size: var(--font-size-xs);
}
.div247 {
  left: 1157px;
  color: var(--color-red-200);
}
.sn-phm-size-m-child15 {
  position: absolute;
  top: 235px;
  left: 321px;
  width: 297px;
  height: 313px;
  object-fit: cover;
  cursor: pointer;
}
.span148 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span149 {
  color: var(--color-red-200);
}
.div248 {
  position: absolute;
  top: 590px;
  left: 416px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.o-polo-neseven2 {
  margin: 0;
}
.o-polo-neseven-container2 {
  position: absolute;
  top: 568px;
  left: 366px;
  font-size: var(--font-size-xs);
}
.div249,
.text22 {
  position: absolute;
}
.div249 {
  top: 253px;
  left: 328px;
  font-size: var(--font-size-3xs);
  color: var(--color-firebrick);
}
.text22 {
  top: 236px;
  left: 2860px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
}
.sn-phm-size-m-child16,
.sn-phm-size-m-child17,
.sn-phm-size-m-child18,
.sn-phm-size-m-child19 {
  position: absolute;
  top: 1636px;
  left: 765px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.sn-phm-size-m-child17,
.sn-phm-size-m-child18,
.sn-phm-size-m-child19 {
  left: 877px;
}
.sn-phm-size-m-child18,
.sn-phm-size-m-child19 {
  left: 821px;
}
.sn-phm-size-m-child19 {
  left: 933px;
}
.home52,
.home53 {
  position: absolute;
  top: 0;
  left: 0;
}
.home53 {
  left: 105px;
  color: var(--color-gray-300);
}
.home-parent21,
.home51 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.home51 {
  top: 35px;
  left: 266px;
  width: 74px;
  overflow: hidden;
}
.group-child487,
.shop50 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child487 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent42,
.shop51 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent42 {
  width: 78px;
  height: 29px;
}
.shop51 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child488,
.shop-parent43 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent43 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.group-parent124,
.shop49 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.shop49 {
  top: 34px;
  left: 391px;
  width: 78px;
  overflow: hidden;
}
.contact50,
.contact51 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact51 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent20,
.contact49 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.contact49 {
  top: 35px;
  left: 508px;
  width: 116px;
  overflow: hidden;
}
.group53,
.group54 {
  position: absolute;
  top: 0;
  left: 0;
}
.group54 {
  left: 94px;
  color: var(--color-gray-400);
}
.group-parent125,
.group52 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.group52 {
  top: 33px;
  left: 665px;
  width: 94px;
  overflow: hidden;
}
.group-child489 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn21 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child490 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent233 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child491 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child491,
.group-wrapper45,
.rectangle-wrapper21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper45 {
  left: 367px;
}
.group-parent126,
.sn-phm-size-m-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.sn-phm-size-m-inner1 {
  top: 17px;
  left: 790px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.male-user-icon46,
.male-user-icon47 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon47 {
  left: 55px;
}
.gi-hng-icon5,
.male-user-parent21,
.ng-nhp12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.gi-hng-icon5,
.ng-nhp12 {
  top: 34px;
  left: 1316px;
  width: 26px;
  overflow: hidden;
}
.gi-hng-icon5 {
  left: 1368px;
}
.sn-phm-size-m-child20,
.sn-phm-size-m-child21 {
  position: absolute;
  top: 296px;
  left: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.sn-phm-size-m-child21 {
  top: 494px;
}
.sn-phm-size-m-child22 {
  top: 359px;
}
.sn-phm-size-m-child22,
.sn-phm-size-m-child23,
.sn-phm-size-m-child24 {
  position: absolute;
  left: 24px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.sn-phm-size-m-child23 {
  top: 557px;
  cursor: pointer;
}
.sn-phm-size-m-child24 {
  top: 614px;
}
.sn-phm-size-m {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1793px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
