.sn-phm-qun-child,
.sn-phm-qun-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 3285px;
}
.sn-phm-qun-item {
  background-color: var(--color-white);
  height: 101px;
}
.seven47 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new95,
.p125 {
  margin: 0;
}
.p125 {
  font-size: var(--font-size-5xl);
}
.new94 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child911 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r47 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.seven-parent39,
.sn-phm-qun-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.sn-phm-qun-inner {
  top: 18px;
  left: 15px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.danh-mc-sn5,
.size17,
.trang-ch18 {
  position: absolute;
  top: 129px;
  left: 15px;
  font-weight: 300;
}
.danh-mc-sn5,
.size17 {
  top: 230px;
  font-weight: 500;
}
.size17 {
  top: 437px;
  left: 20px;
}
.sn-phm-qun-child1 {
  position: absolute;
  top: 1120px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.vector-icon29 {
  position: absolute;
  height: 2.92%;
  width: 6.67%;
  top: 67.37%;
  right: 89.1%;
  bottom: 29.71%;
  left: 4.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sn-phm-qun-child2,
.sn-phm-qun-child3 {
  position: absolute;
  top: 1150px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.sn-phm-qun-child3 {
  top: 1410px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.sn-phm-qun-child4,
.sn-phm-qun-child5,
.sn-phm-qun-child6 {
  position: absolute;
  top: 1462px;
  left: 765px;
  border-radius: 50%;
  width: 17px;
  height: 16px;
  object-fit: cover;
}
.sn-phm-qun-child5,
.sn-phm-qun-child6 {
  top: 1436px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.sn-phm-qun-child6 {
  top: 1487px;
}
.span230 {
  color: var(--color-red-300);
}
.h-tr-container44 {
  position: absolute;
  top: 1164px;
  left: 111px;
  font-size: var(--font-size-xl);
}
.blank-line91,
.gii-thiu44,
.n7-hng-n44 {
  margin: 0;
}
.gii-thiu-n7-container44 {
  position: absolute;
  top: 1318px;
  left: 21px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 688px;
}
.blank-line92,
.blank-line93,
.cng-ty-tnhh17,
.thng-tin-lin44 {
  margin: 0;
}
.c-s-144,
.c-s-244,
.newsevenvngmailcom44,
.p126 {
  margin: 0;
  white-space: pre-wrap;
}
.thng-tin-lin-container5 {
  position: absolute;
  top: 1313px;
  left: 764px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 688px;
}
.hin-th-kt5 {
  position: absolute;
  top: 135px;
  left: 1047px;
  font-weight: 300;
}
.sn-phm-qun-child7 {
  position: absolute;
  top: 129px;
  left: 1236px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 41px;
}
.mc-nh9 {
  position: absolute;
  top: 135px;
  left: 1248px;
  font-weight: 300;
}
.sn-phm-qun-child8,
.sn-phm-qun-child9 {
  position: absolute;
  top: 149.5px;
  left: 1365px;
  width: 5.6px;
  height: 5.8px;
  object-fit: contain;
}
.sn-phm-qun-child9 {
  top: 149px;
  left: 1370.3px;
  width: 5.7px;
}
.o5,
.qun5 {
  position: absolute;
}
.o5 {
  top: 295px;
  left: 55px;
  font-weight: 300;
}
.qun5 {
  top: 356px;
  left: 52px;
}
.m41,
.qun5,
.s5 {
  font-weight: 300;
}
.s5 {
  position: absolute;
  top: 493px;
  left: 59px;
}
.m41 {
  top: 555px;
  left: 58px;
}
.div406,
.l29,
.m41 {
  position: absolute;
}
.l29 {
  top: 611px;
  left: 62px;
  font-weight: 300;
}
.div406 {
  top: 643px;
  left: 400px;
  font-size: var(--font-size-3xs);
  color: var(--color-firebrick);
}
.sn-phm-qun-child10,
.sn-phm-qun-child11,
.sn-phm-qun-child12,
.sn-phm-qun-child13 {
  position: absolute;
  top: 236px;
  left: 1099px;
  width: 297px;
  height: 313px;
  object-fit: cover;
  cursor: pointer;
}
.sn-phm-qun-child11,
.sn-phm-qun-child12,
.sn-phm-qun-child13 {
  top: 230px;
  left: 759px;
}
.sn-phm-qun-child12,
.sn-phm-qun-child13 {
  left: 391px;
}
.sn-phm-qun-child13 {
  top: 698px;
  left: 394px;
}
.qun-short-insert12,
.short-newseven-chopper9 {
  position: absolute;
  font-size: var(--font-size-xs);
}
.qun-short-insert12 {
  top: 566px;
  left: 843px;
  display: inline-block;
  width: 128px;
  height: 32px;
}
.short-newseven-chopper9 {
  top: 573px;
  left: 1149px;
}
.qun-short-newseven10 {
  margin: 0;
}
.qun-short-newseven-container10 {
  position: absolute;
  top: 563px;
  left: 433px;
  font-size: var(--font-size-xs);
}
.qun-short-basic10 {
  margin: 0;
}
.qun-short-basic-container3 {
  position: absolute;
  top: 1031px;
  left: 453px;
  font-size: var(--font-size-xs);
}
.div407,
.div408,
.div409 {
  position: absolute;
  top: 250px;
  left: 767px;
  font-size: var(--font-size-3xs);
  color: var(--color-firebrick);
}
.div408,
.div409 {
  top: 255px;
  left: 1114px;
}
.div409 {
  top: 248px;
  left: 398px;
}
.span231 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span232 {
  color: var(--color-red-200);
}
.div410 {
  position: absolute;
  top: 588px;
  left: 843px;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-100);
}
.span233 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span234 {
  color: var(--color-red-200);
}
.div411 {
  position: absolute;
  top: 598px;
  left: 1192px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.span235 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span236 {
  color: var(--color-red-200);
}
.div412 {
  top: 592px;
  left: 483px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-100);
}
.div412,
.div413,
.text31 {
  position: absolute;
}
.div413 {
  top: 1058px;
  left: 528px;
  font-size: var(--font-size-xs);
  color: var(--color-red-200);
}
.text31 {
  top: 236px;
  left: 2860px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
}
.sn-phm-qun-child14,
.sn-phm-qun-child15,
.sn-phm-qun-child16,
.sn-phm-qun-child17 {
  position: absolute;
  top: 1517px;
  left: 765px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.sn-phm-qun-child15,
.sn-phm-qun-child16,
.sn-phm-qun-child17 {
  left: 877px;
}
.sn-phm-qun-child16,
.sn-phm-qun-child17 {
  left: 821px;
}
.sn-phm-qun-child17 {
  left: 933px;
}
.home102,
.home103 {
  position: absolute;
  top: 0;
  left: 0;
}
.home103 {
  left: 105px;
  color: var(--color-gray-300);
}
.home-parent44,
.home101 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.home101 {
  top: 35px;
  left: 266px;
  width: 74px;
  overflow: hidden;
}
.group-child912,
.shop102 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child912 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent90,
.shop103 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent90 {
  width: 78px;
  height: 29px;
}
.shop103 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child913,
.shop-parent91 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent91 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.group-parent226,
.shop101 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.shop101 {
  top: 34px;
  left: 391px;
  width: 78px;
  overflow: hidden;
}
.contact103,
.contact104 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact104 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent44,
.contact102 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.contact102 {
  top: 35px;
  left: 508px;
  width: 116px;
  overflow: hidden;
}
.group112,
.group113 {
  position: absolute;
  top: 0;
  left: 0;
}
.group113 {
  left: 94px;
  color: var(--color-gray-400);
}
.group-parent227,
.group111 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.group111 {
  top: 33px;
  left: 665px;
  width: 94px;
  overflow: hidden;
}
.group-child914 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn46 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child915 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent413 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child916 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child916,
.group-wrapper70,
.rectangle-wrapper46 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-wrapper70 {
  left: 367px;
}
.group-parent228,
.sn-phm-qun-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 705px;
  height: 60px;
}
.sn-phm-qun-inner1 {
  top: 17px;
  left: 790px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.male-user-icon92,
.male-user-icon93 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon93 {
  left: 55px;
}
.gi-hng-icon10,
.male-user-parent44,
.ng-nhp27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.gi-hng-icon10,
.ng-nhp27 {
  top: 34px;
  left: 1316px;
  width: 26px;
  overflow: hidden;
}
.gi-hng-icon10 {
  left: 1368px;
}
.sn-phm-qun-child18 {
  position: absolute;
  top: 501px;
  left: 21px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.sn-phm-qun-child19 {
  top: 564px;
  background-color: var(--color-white);
}
.sn-phm-qun-child19,
.sn-phm-qun-child20,
.sn-phm-qun-child21 {
  position: absolute;
  left: 21px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.sn-phm-qun-child20 {
  top: 616px;
  background-color: var(--color-white);
}
.sn-phm-qun-child21 {
  top: 302px;
}
.sn-phm-qun,
.sn-phm-qun-child21,
.sn-phm-qun-child22 {
  background-color: var(--color-white);
}
.sn-phm-qun-child22 {
  position: absolute;
  top: 365px;
  left: 21px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.sn-phm-qun {
  width: 100%;
  position: relative;
  height: 1740px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
