.sn-phm-o-child,
.sn-phm-o-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gainsboro);
  width: 1440px;
  height: 3285px;
}
.sn-phm-o-item {
  background-color: var(--color-white);
  height: 101px;
}
.seven46 {
  position: absolute;
  top: 20px;
  left: 0;
  font-weight: 900;
}
.new93,
.p121 {
  margin: 0;
}
.p121 {
  font-size: var(--font-size-5xl);
}
.new92 {
  position: absolute;
  top: 0;
  left: 16px;
  font-weight: 900;
}
.group-child905 {
  position: absolute;
  top: 12px;
  left: 85px;
  border-radius: 50%;
  background-color: var(--color-snow);
  width: 12px;
  height: 11px;
}
.r46 {
  position: absolute;
  top: 11px;
  left: 88px;
  font-size: var(--font-size-3xs);
  font-weight: 900;
  display: inline-block;
  width: 8px;
  height: 9px;
}
.seven-parent38,
.sn-phm-o-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 97px;
  height: 66px;
}
.sn-phm-o-inner {
  top: 18px;
  left: 15px;
  cursor: pointer;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslateblue);
}
.danh-mc-sn4,
.size16,
.trang-ch17 {
  position: absolute;
  top: 129px;
  left: 15px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
}
.danh-mc-sn4,
.size16 {
  top: 230px;
  font-weight: 500;
}
.size16 {
  top: 437px;
  left: 20px;
}
.sn-phm-o-child1 {
  position: absolute;
  top: 1487px;
  left: 0;
  background-color: var(--color-white);
  width: 1440px;
  height: 118px;
}
.vector-icon28 {
  position: absolute;
  height: 2.92%;
  width: 6.67%;
  top: 67.37%;
  right: 89.1%;
  bottom: 29.71%;
  left: 4.24%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.sn-phm-o-child2 {
  position: absolute;
  top: 1517px;
  left: 39px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.sn-phm-o-child3,
.sn-phm-o-child4,
.sn-phm-o-child5,
.sn-phm-o-child6 {
  position: absolute;
  top: 1777px;
  left: 763px;
  border-radius: 50%;
  width: 21px;
  height: 21px;
  object-fit: cover;
}
.sn-phm-o-child4,
.sn-phm-o-child5,
.sn-phm-o-child6 {
  top: 1829px;
  left: 765px;
  width: 17px;
  height: 16px;
}
.sn-phm-o-child5,
.sn-phm-o-child6 {
  top: 1803px;
  left: 763px;
  width: 21px;
  height: 21px;
}
.sn-phm-o-child6 {
  top: 1854px;
}
.span215 {
  color: var(--color-red-300);
}
.h-tr-container43 {
  position: absolute;
  top: 1531px;
  left: 111px;
  font-size: var(--font-size-xl);
}
.blank-line88,
.gii-thiu43,
.n7-hng-n43 {
  margin: 0;
}
.gii-thiu-n7-container43 {
  position: absolute;
  top: 1685px;
  left: 21px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 688px;
}
.blank-line89,
.blank-line90,
.cng-ty-tnhh16,
.thng-tin-lin43 {
  margin: 0;
}
.c-s-143,
.c-s-243,
.newsevenvngmailcom43,
.p122 {
  margin: 0;
  white-space: pre-wrap;
}
.thng-tin-lin-container4 {
  position: absolute;
  top: 1680px;
  left: 764px;
  font-size: var(--font-size-xl);
  display: inline-block;
  width: 688px;
}
.hin-th-kt4 {
  position: absolute;
  top: 135px;
  left: 1047px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
}
.sn-phm-o-child7 {
  position: absolute;
  top: 129px;
  left: 1236px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 170px;
  height: 41px;
}
.mc-nh8 {
  position: absolute;
  top: 135px;
  left: 1248px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
}
.sn-phm-o-child8,
.sn-phm-o-child9 {
  position: absolute;
  top: 149.5px;
  left: 1365px;
  width: 5.6px;
  height: 5.8px;
  object-fit: contain;
}
.sn-phm-o-child9 {
  top: 149px;
  left: 1370.3px;
  width: 5.7px;
}
.l28,
.m40,
.o4,
.qun4,
.s4 {
  position: absolute;
  top: 295px;
  left: 55px;
  font-size: var(--font-size-5xl);
  font-weight: 300;
}
.l28,
.m40,
.qun4,
.s4 {
  top: 356px;
  left: 52px;
}
.l28,
.m40,
.s4 {
  top: 493px;
  left: 59px;
}
.l28,
.m40 {
  top: 555px;
  left: 58px;
}
.l28 {
  top: 611px;
  left: 62px;
}
.sn-phm-o-child10 {
  position: absolute;
  top: 230px;
  left: 384px;
  width: 297px;
  height: 313px;
  object-fit: cover;
  cursor: pointer;
}
.text27 {
  position: absolute;
  top: 569px;
  left: 541px;
}
.polo-pitying-pl13412 {
  margin: 0;
}
.polo-pitying-pl134-container5 {
  position: absolute;
  top: 559px;
  left: 471px;
}
.span216 {
  white-space: pre-wrap;
}
.span217 {
  color: var(--color-red-200);
}
.div392,
.div393 {
  position: absolute;
  top: 581px;
  left: 466px;
  color: var(--color-gray-100);
}
.div393 {
  top: 252px;
  left: 391px;
  font-size: var(--font-size-3xs);
  color: var(--color-red-100);
}
.sn-phm-o-child11 {
  position: absolute;
  top: 230px;
  left: 1095px;
  width: 297px;
  height: 313px;
  object-fit: cover;
}
.o-thun-newseven27,
.p123 {
  margin: 0;
}
.div394,
.o-thun-newseven-container16,
.text28 {
  position: absolute;
  top: 559px;
  left: 1164px;
}
.div394,
.text28 {
  top: 582px;
  left: 1243px;
  color: var(--color-red-200);
}
.div394 {
  left: 1222px;
}
.sn-phm-o-child12,
.sn-phm-o-child13 {
  position: absolute;
  top: 628px;
  left: 392px;
  width: 297px;
  height: 313px;
  object-fit: cover;
}
.sn-phm-o-child13 {
  left: 1095px;
}
.span218 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span219 {
  color: var(--color-red-200);
}
.div395 {
  position: absolute;
  top: 989px;
  left: 463px;
  color: var(--color-gray-100);
}
.o-thun-newseven28 {
  margin: 0;
}
.o-thun-newseven-container17 {
  position: absolute;
  top: 955px;
  left: 1137px;
}
.span220 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span221 {
  color: var(--color-red-200);
}
.div396 {
  position: absolute;
  top: 989px;
  left: 1191px;
  color: var(--color-gray-100);
}
.o-thun-newseven29 {
  margin: 0;
}
.div397,
.div398,
.o-thun-newseven-container18 {
  position: absolute;
  top: 966px;
  left: 418px;
}
.div397,
.div398 {
  top: 643px;
  left: 1105px;
  font-size: var(--font-size-3xs);
  color: var(--color-firebrick);
}
.div398 {
  left: 400px;
  display: none;
}
.sn-phm-o-child14 {
  position: absolute;
  top: 230px;
  left: 733px;
  width: 297px;
  height: 313px;
  object-fit: cover;
}
.o-thun-trn11 {
  margin: 0;
  white-space: pre-wrap;
}
.o-thun-trn-container6 {
  position: absolute;
  top: 559px;
  left: 825px;
  display: inline-block;
  width: 164px;
  height: 34px;
}
.span222 {
  white-space: pre-wrap;
}
.span223 {
  color: var(--color-red-200);
}
.div399 {
  position: absolute;
  top: 582px;
  left: 834px;
  color: var(--color-gray-100);
}
.div400,
.text29 {
  position: absolute;
  top: 992px;
  left: 593px;
}
.div400 {
  top: 250px;
  left: 741px;
  font-size: var(--font-size-3xs);
  color: var(--color-firebrick);
}
.sn-phm-o-child15 {
  position: absolute;
  top: 1074px;
  left: 759px;
  width: 297px;
  height: 313px;
  object-fit: cover;
  cursor: pointer;
}
.o-thun-n74,
.p124 {
  margin: 0;
}
.o-thun-n7-container4 {
  position: absolute;
  top: 1407px;
  left: 801px;
}
.span224 {
  white-space: pre-wrap;
}
.span225 {
  color: var(--color-red-200);
}
.div401 {
  position: absolute;
  top: 1434px;
  left: 874px;
}
.sn-phm-o-child16,
.sn-phm-o-child17 {
  position: absolute;
  top: 628px;
  left: 749px;
  width: 297px;
  height: 313px;
  object-fit: cover;
  cursor: pointer;
}
.sn-phm-o-child17 {
  top: 1070px;
  left: 392px;
}
.polo-striped-pl13710 {
  position: absolute;
  top: 965px;
  left: 854px;
}
.span226 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span227 {
  color: var(--color-red-200);
}
.div402 {
  position: absolute;
  top: 993px;
  left: 849px;
  color: var(--color-gray-100);
}
.span228 {
  color: var(--color-black);
  white-space: pre-wrap;
}
.span229 {
  color: var(--color-red-200);
}
.div403 {
  position: absolute;
  top: 1425px;
  left: 487px;
  color: var(--color-gray-100);
}
.o-polo-neseven4 {
  margin: 0;
}
.o-polo-neseven-container4 {
  position: absolute;
  top: 1403px;
  left: 437px;
}
.div404 {
  top: 649px;
  left: 760px;
  font-size: var(--font-size-3xs);
  color: var(--color-firebrick);
}
.div404,
.div405,
.text30 {
  position: absolute;
}
.div405 {
  top: 1088px;
  left: 399px;
  font-size: var(--font-size-3xs);
  color: var(--color-firebrick);
}
.text30 {
  top: 236px;
  left: 2860px;
  font-size: var(--font-size-6xl);
  font-weight: 600;
}
.sn-phm-o-child18,
.sn-phm-o-child19,
.sn-phm-o-child20,
.sn-phm-o-child21 {
  position: absolute;
  top: 1884px;
  left: 765px;
  border-radius: var(--br-3xs);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.sn-phm-o-child19,
.sn-phm-o-child20,
.sn-phm-o-child21 {
  left: 877px;
}
.sn-phm-o-child20,
.sn-phm-o-child21 {
  left: 821px;
}
.sn-phm-o-child21 {
  left: 933px;
}
.home100,
.home99 {
  position: absolute;
  top: 0;
  left: 0;
}
.home100 {
  left: 105px;
  color: var(--color-gray-300);
}
.home-parent43,
.home98 {
  position: absolute;
  top: 0;
  left: 0;
  width: 179px;
  height: 29px;
}
.home98 {
  top: 35px;
  left: 266px;
  width: 74px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child906,
.shop99 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child906 {
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent88,
.shop100 {
  position: absolute;
  top: 0;
  left: 0;
}
.shop-parent88 {
  width: 78px;
  height: 29px;
}
.shop100 {
  text-shadow: 1px 0 0 rgba(0, 0, 0, 0.5), 0 1px 0 rgba(0, 0, 0, 0.5),
    -1px 0 0 rgba(0, 0, 0, 0.5), 0-1px 0 rgba(0, 0, 0, 0.5);
}
.group-child907,
.shop-parent89 {
  position: absolute;
  top: 17px;
  left: 67px;
  width: 11px;
  height: 6.3px;
}
.shop-parent89 {
  top: 0;
  left: 97px;
  width: 78px;
  height: 29px;
  color: var(--color-gray-400);
}
.group-parent223,
.shop98 {
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 29px;
}
.shop98 {
  top: 34px;
  left: 391px;
  width: 78px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.contact100,
.contact101 {
  position: absolute;
  top: 0;
  left: 0;
}
.contact101 {
  left: 146px;
  color: var(--color-gray-400);
}
.contact-parent43,
.contact99 {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  height: 29px;
}
.contact99 {
  top: 35px;
  left: 508px;
  width: 116px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group109,
.group110 {
  position: absolute;
  top: 0;
  left: 0;
}
.group110 {
  left: 94px;
  color: var(--color-gray-400);
}
.group-parent224,
.group108 {
  position: absolute;
  top: 0;
  left: 5px;
  width: 179px;
  height: 29px;
}
.group108 {
  top: 33px;
  left: 665px;
  width: 94px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.group-child908 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-500);
  width: 338px;
  height: 60px;
}
.tm-kim-sn45 {
  position: absolute;
  top: 21px;
  left: 21px;
  display: inline-block;
  width: 193px;
  height: 9px;
}
.group-child909 {
  position: absolute;
  top: 17px;
  left: 291px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent412 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-child910 {
  border-radius: var(--br-11xl);
  background-color: var(--color-gray-600);
}
.group-child910,
.rectangle-wrapper45 {
  position: absolute;
  top: 0;
  left: 0;
  width: 338px;
  height: 60px;
}
.group-parent225,
.group-wrapper69,
.sn-phm-o-inner1 {
  position: absolute;
  top: 0;
  left: 367px;
  width: 338px;
  height: 60px;
}
.group-parent225,
.sn-phm-o-inner1 {
  left: 0;
  width: 705px;
}
.sn-phm-o-inner1 {
  top: 17px;
  left: 790px;
  width: 338px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.male-user-icon90,
.male-user-icon91 {
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.male-user-icon91 {
  left: 55px;
}
.gi-hng-icon9,
.male-user-parent43,
.ng-nhp26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 81px;
  height: 26px;
}
.gi-hng-icon9,
.ng-nhp26 {
  top: 34px;
  left: 1316px;
  width: 26px;
  overflow: hidden;
}
.gi-hng-icon9 {
  left: 1368px;
}
.sn-phm-o-child22 {
  position: absolute;
  top: 498px;
  left: 21px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.sn-phm-o-child23 {
  top: 561px;
  background-color: var(--color-white);
}
.sn-phm-o-child23,
.sn-phm-o-child24,
.sn-phm-o-child25 {
  position: absolute;
  left: 21px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.sn-phm-o-child24 {
  top: 614px;
  background-color: var(--color-white);
}
.sn-phm-o-child25 {
  top: 302px;
  cursor: pointer;
}
.sn-phm-o,
.sn-phm-o-child25,
.sn-phm-o-child26 {
  background-color: var(--color-white);
}
.sn-phm-o-child26 {
  position: absolute;
  top: 365px;
  left: 21px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.sn-phm-o {
  width: 100%;
  position: relative;
  height: 2079px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
